<!DOCTYPE html>
<html lang="en">
<head>
	<#include "../inc/include.html">
	<title>MQCloud</title>
</head>
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="card card-outline card-secondary">
			<div class="card-header text-center">
				<a href="javascript:void(0)" class="h1"><b>MQ</b>Cloud</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">您好，欢迎使用，请注册！</p>
				<#if response.result?? && response.result == 1>
				<form id="registerForm">
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="邮箱" name="email" id="email">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="姓名" name="name" id="username">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="密码" name="password" id="password">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="确认密码" id="password2">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<button type="button" class="btn btn-primary btn-block" id="registerBtn" onclick="register()">注册</button>
						</div>
					</div>
				</form>
				<#else>
					<p class="mb-0 text-center">
						<a href="javascript:void(0)" onclick="register()" class="text-center">注册功能已关闭！</a>
					</p>
				</#if>
			</div>
		</div>
	</div>
	<script>
		function register(){
			if(!$("#email").val()) {
				alert("邮箱不能为空");
				return;
			}
			if(!$("#password").val() || $("#password").val() != $("#password2").val()) {
				alert("两次密码不一致");
				return;
			}
			disable("registerBtn");
			$.post('${request.contextPath}/register/add',
					$("#registerForm").serialize(),
					function(data){
						if(data.status == 200){
							toastr.success("注册成功，系统将自动刷新");
							setTimeout("toTopicList()",3000);
						}else{
							toastr.error("注册失败！"+data.message);
							enable("registerBtn");
						}
					}, 'json');
		}
		function toTopicList(){
			window.location.href= "${request.contextPath}/user/topic";
		}
	</script>
</body>
</html>