<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card card-outline card-secondary">
			<form id="associateConsumerForm">
				<div class="card-body">
					<p class="login-box-msg">关联消费者 <a target=_blank href="${request.contextPath}/wiki/userGuide/produceAndConsume#oldUser" title="点击查看下面各项的详细释义" data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></a></p>

					<div class="input-group mb-3">
						<label for="associateConsumerTopicSelect" class="col-form-label col-md-3"> Topic: </label>
						<div class="col-md-8">
							<select id="associateConsumerTopicSelect" class="selectpicker  form-control" title="请选择" data-live-search-placeholder="搜索" name="tid" data-live-search="true">
							</select>
						</div>
					</div>
					<div class="input-group mb-3">
						<label for="associateConsumerSelect" class="col-form-label col-md-3"> 消费者: </label>
						<div class="col-md-8">
							<select id="associateConsumerSelect" class="selectpicker  form-control" title="请选择consumer group" data-live-search-placeholder="搜索" name="cid" data-live-search="true">
							</select>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button type="button" class="btn btn-primary float-right" id="associateConsumerBtn" onclick="associateConsumer()">确定</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		// 下拉框change事件
		$('#associateConsumerTopicSelect').on('changed.bs.select',function(e, clickedIndex, newValue, oldValue){
			refreshConsumerSelect($(this).val());
		});
		initConsumerAssociateTopicList();
	});
	/**
	 * 初始化topic下拉列表
	 */
	function initConsumerAssociateTopicList(){
		$.get('${request.contextPath}/topic/list',
		        function(data){
		            if(data.status == 200){
		            	var content = "";
		            	for(var i in data.result){
		            		var topic = data.result[i];
		            		content += "<option value='"+topic.id+"'>"+topic.name+"</option>";
		            	}
		        		$("#associateConsumerTopicSelect").html(content);
		        		$("#associateConsumerTopicSelect").selectpicker('refresh');
						var curTopicId = getQueryString("tid");
						if (curTopicId) {
							$('#associateConsumerTopicSelect').selectpicker('val', curTopicId);
							refreshConsumerSelect(curTopicId);
						}
				    }else{
				    	toastr.error("数据获取失败！"+data.message);  
				    }
	        }, 'json');
	}
	/**
	 * 刷新消费者下拉框
	 */
	function refreshConsumerSelect(topicId){
		if(!topicId){
			return;
		}
		$.get('${request.contextPath}/consumer/list',
				{
					tid: topicId
				},
		        function(data){
		            if(data.status == 200){
		            	var content = "";
		            	for(var i in data.result){
		            		var consumer = data.result[i];
		            		content += "<option value='"+consumer.id+"'>"+consumer.name+"</option>";
		            	}
		        		$("#associateConsumerSelect").html(content);
		        		$("#associateConsumerSelect").selectpicker('refresh');
				    }else{
				    	toastr.error("数据获取失败！"+data.message);  
				    }
	        }, 'json');
	}
	/**
	 * 建立关联
	 */
	function associateConsumer(){
		if(!$("#associateConsumerTopicSelect").val()){
			alert("请先选择Topic");
			return;
		}
		if(!$("#associateConsumerSelect").val()){
			alert("请选择消费者");
			return;
		}
		disable("associateConsumerBtn");
		$.post('${request.contextPath}/consumer/associate',
				$("#associateConsumerForm").serialize(),
		        function(data){
		            if(data.status == 200){
		            	toastr.success("申请成功，请稍后查看！即将跳转到我的工单");
						toMyAuditPage();
				    }else{
				    	toastr.error("申请失败！"+data.message);  
				    	enable("associateConsumerBtn");
				    }
	        }, 'json');
	}
</script>