<#if response.OK>
	<#if response.result.msgList?? && response.result.msgList?size gt 0>
		<tbody id="page_${response.result.mqc.times}">
			<#list response.result.msgList as msg>
				<tr data="${msg.offsetMsgId}" id="${msg.msgId}" date-data="${msg.storeTimestamp?c}" dataIdx="${msg_index + 1 + response.result.mqc.prevSize}">
					<td>${msg_index + 1 + response.result.mqc.prevSize}</td>
					<td><a target=_blank href="http://mq.tv.sohuno.com/topic/detail?topic=${msg.realTopic}<#if msg.consumer??>&consumer=${msg.realConsumer}</#if>"><#if msg.consumer??>${msg.consumer}<#else>${msg.realTopic}</#if></a></td>
					<td>${msg.bornHostString}</td>
					<td data-tooltip="true" title="存储时间:${msg.storeTimestamp?number_to_datetime?string("yyyy-MM-dd HH:mm:ss.SSS")}">${msg.bornTimestamp?number_to_datetime?string("yyyy-MM-dd HH:mm:ss.SSS")}</td>
					<td data-tooltip="true" title="偏移量:${msg.queueOffset}">${msg.broker!}:${msg.queueId}</td>
					<td data-tooltip="true" title="序列化方式:<#if msg.messageBodySerializer??>${msg.messageBodySerializer.getName()}(${msg.messageBodyTypeString!})<#else>${msg.messageBodyTypeString!}</#if>"><#if msg.decodedBody?length gt 1000><pre>${msg.decodedBody}</pre><#else>${msg.decodedBody}</#if></td>
					<td>${msg.keys!}</td>
				</tr>
			</#list>
		</tbody>
	<#else>
		<tbody id="page_${response.result.mqc.times}">
			<tr class="no_more_data"><td colspan=8 class="text-center">本次查无数据</td></tr>
		</tbody>
	</#if>
	<input type="hidden" id="data_${response.result.mqc.times}" data_size="${response.result.msgList?size}"  data_search="${response.result.mqc.searchedSize?c}" data_left="${response.result.mqc.leftSize?c}">
	<script>
		showPage(${response.result.mqc.times});
		$("#messageParam").val('${response.result.mqc.serialize()}');
		$(function() {
	        $('[data-tooltip="true"]').tooltip({
	            container: 'body'
	        });
		});
	</script>
<#else>
	<tbody>
		<tr class="no_more_data"><td colspan=8 class="text-center">查询异常！${response.message}</td></tr>
	</tbody>
</#if>