<#if response.OK>
	<tbody>
		<tr data="${response.result.offsetMsgId}" dataIdx="1">
			<td title="${response.result.msgId}">1</td>
			<td>${response.result.bornHostString}</td>
			<td title="${response.result.storeTimestamp?number_to_datetime?string("yyyy-MM-dd HH:mm:ss.SSS")}">${response.result.bornTimestamp?number_to_datetime?string("yyyy-MM-dd HH:mm:ss.SSS")}</td>
			<td title="${response.result.queueOffset}">${response.result.broker!}:${response.result.queueId}</td>
			<td>${response.result.decodedBody}</td>
			<td>${response.result.keys!}</td>
			<td>${response.result.tags!}</td>
			<td class="text-center"><span class="glyphicon glyphicon-eye-open" style="cursor:pointer;" onclick=track(${response.result.toJson()}) data-target="#trackModal" data-toggle="modal"></span></td>
		</tr>
	</tbody>
	<script>
		initMultiSelect("tbody");
	</script>
<#else>
	<tbody>
		<tr class="no_more_data"><td colspan=7 class="text-center">查询异常！${response.message}</td></tr>
	</tbody>
</#if>
<script>
	$("#pager").hide();
</script>