<#if response.OK>
	<#if response.result.msgList?? && response.result.msgList?size gt 0>
		<tbody id="page_${response.result.mqc.times}">
			<#list response.result.msgList as msg>
				<tr data="${msg.offsetMsgId}" id="${msg.msgId}" dataIdx="${msg_index + 1 + response.result.mqc.prevSize}" rollTimes="${msg.timerRollTimes}"
					deliverTime="${msg.timerDeliverTime}">
					<#if msg.timerStatus == 3>
						<td data-tooltip="true" title="跳转至key消息查询页面" onclick="loadKeySearch('${msg.msgId}')">${msg_index + 1 + response.result.mqc.prevSize}</td>
					<#elseif msg.timerStatus == 1|| msg.timerStatus ==2>
						<td data-tooltip="true" title="跳转至定时消息追踪页面" onclick="loadRollTraceSearch('${msg.msgId}','${msg.broker!}')">${msg_index + 1 + response.result.mqc.prevSize}</td>
					<#elseif msg.timerStatus == 4 >
						<td data-tooltip="true" title="跳转至定时消息追踪页面" onclick="loadRollTraceSearch('${msg.msgId}','${msg.broker!}')">${msg_index + 1 + response.result.mqc.prevSize}</td>
					</#if>
					<td>${msg.bornHostString}</td>
					<td data-tooltip="true" title="存储时间:${msg.storeTimestamp?number_to_datetime?string("yyyy-MM-dd HH:mm:ss.SSS")}">${msg.bornTimestamp?number_to_datetime?string("yyyy-MM-dd HH:mm:ss.SSS")}</td>
					<td data-tooltip="true" title="偏移量:${msg.queueOffset}">${msg.broker!}:${msg.queueId}</td>
					<td data-tooltip="true" title="序列化方式:<#if msg.messageBodySerializer??>${msg.messageBodySerializer.getName()}(${msg.messageBodyTypeString!})<#else>${msg.messageBodyTypeString!}</#if>,大小:${msg.formatMsgLength}"><#if msg.decodedBody?length gt 1000><pre>${msg.decodedBody}</pre><#else>${msg.decodedBody}</#if></td>
					<td>${msg.keys!}</td>
					<td>${msg.tags!}</td>
					<#if traceEnabled>
						<td class="text-center"><span
							<#if msg.timerStatus == 3 >
								class="iconfont icon-dingshi"
							<#elseif msg.timerStatus == 4 >
								class="iconfont icon-dingshi" style="color: #6A6AFF"
							<#elseif msg.timerStatus == 1 || msg.timerStatus == 2>
								class="iconfont icon-quxiaodingshi"
							</#if>
							data-tooltip="true"
							data-html="true"
							title="${msg.timerDeliverTimeDesc}"
							onclick="traceHasTime('${msg.msgId}')" ></span></td>
					<#else>
						<td class="text-center"><span
							<#if msg.timerStatus == 3 >
								class="iconfont icon-dingshi"
							<#elseif msg.timerStatus == 4 >
								class="iconfont icon-dingshi" style="color: #6A6AFF"
							<#elseif msg.timerStatus == 1 || msg.timerStatus == 2>
								class="iconfont icon-quxiaodingshi"
							</#if>
							data-tooltip="true" data-html="true"
							title="${msg.timerDeliverTimeDesc}"
							onclick=track(${msg.toJson()})
							data-target="#trackModal"
							data-toggle="modal"></span></td>
					</#if>
				</tr>
			</#list>
		</tbody>
	<#else>
		<tbody id="page_${response.result.mqc.times}">
			<tr class="no_more_data"><td colspan=8 class="text-center">本次查无数据</td></tr>
		</tbody>
	</#if>
	<input type="hidden" id="data_${response.result.mqc.times}" data_size="${response.result.msgList?size}"  data_search="${response.result.mqc.searchedSize?c}" data_left="${response.result.mqc.leftSize?c}">
	<script>
		showPage(${response.result.mqc.times});
		$("#messageParam").val('${response.result.mqc.serialize()}');
		initMultiSelect("tbody#page_${response.result.mqc.times}");
		$(function() {
	        $('[data-tooltip="true"]').tooltip({
	            container: 'body'
	        });
		});
	</script>
<#else>
	<tbody>
		<tr class="no_more_data"><td colspan=8 class="text-center">查询异常！${response.message}</td></tr>
	</tbody>
</#if>