<#if response.OK>
	<#if response.result?? && response.result?size gt 0>
		<tbody>
			<#list response.result as msg>
				<tr data="${msg.offsetMsgId}" id="${msg.msgId}" dataIdx="${msg_index + 1}" rollTimes="${msg.timerRollTimes}"
					deliverTime="${msg.timerDeliverTime}">
					<td data-tooltip="true">${msg_index + 1}</td>
					<td>${msg.bornHostString}</td>
					<td data-tooltip="true" title="存储时间:${msg.storeTimestamp?number_to_datetime?string("yyyy-MM-dd HH:mm:ss.SSS")}">${msg.bornTimestamp?number_to_datetime?string("yyyy-MM-dd HH:mm:ss.SSS")}</td>
					<td data-tooltip="true" title="偏移量:${msg.queueOffset}">${msg.broker!}:${msg.queueId}</td>
					<td data-tooltip="true" title="序列化方式:<#if msg.messageBodySerializer??>${msg.messageBodySerializer.getName()}(${msg.messageBodyTypeString!})<#else>${msg.messageBodyTypeString!}</#if>,大小:${msg.formatMsgLength}"><#if msg.decodedBody?length gt 1000><pre>${msg.decodedBody}</pre><#else>${msg.decodedBody}</#if></td>
					<td>${msg.keys!}</td>
					<td>${msg.tags!}</td>
					<#if traceEnabled>
						<td class="text-center"><span
							<#if msg.timerStatus == 7 >
								class="iconfont icon-zhongfu"
							<#elseif msg.timerStatus == 3 >
								class="iconfont icon-dingshi"
							<#elseif msg.timerStatus == 4 >
								class="iconfont icon-dingshi" style="color: #6A6AFF"
							<#elseif msg.timerStatus == 1>
								class="iconfont icon-quxiaodingshi"
							<#elseif msg.timerStatus == 2>
								class="iconfont icon-quxiaodingshi" style="color: #6A6AFF"
							<#elseif msg.timerStatus == 5>
								class="iconfont icon-oms-tubiao-shangchuan-"
							<#elseif msg.timerStatus == 6>
								class="iconfont icon-oms-tubiao-shangchuan-" style="color: #6A6AFF"
							</#if>
							data-tooltip="true"
							data-html="true"
							title="${msg.timerDeliverTimeDesc}"
							onclick="traceHasTime('${msg.msgId}')"></span></td>
					<#else>
						<td class="text-center"><span
							<#if msg.timerStatus == 7 >
								class="iconfont icon-zhongfu"
							<#elseif msg.timerStatus == 3 >
								class="iconfont icon-dingshi"
							<#elseif msg.timerStatus == 4 >
								class="iconfont icon-dingshi" style="color: #6A6AFF"
							<#elseif msg.timerStatus == 1>
								class="iconfont icon-quxiaodingshi"
							<#elseif msg.timerStatus == 2>
								class="iconfont icon-quxiaodingshi" style="color: #6A6AFF"
							<#elseif msg.timerStatus == 5>
								class="iconfont icon-oms-tubiao-shangchuan-"
							<#elseif msg.timerStatus == 6>
								class="iconfont icon-oms-tubiao-shangchuan-" style="color: #6A6AFF"
							</#if>
							data-tooltip="true" data-html="true"
							title="${msg.timerDeliverTimeDesc}"
							onclick=track(${msg.toJson()})
							data-target="#trackModal"
							data-toggle="modal"></span></td>
					</#if>
				</tr>
			</#list>
		</tbody>
	<#else>
		<tr class="no_more_data"><td colspan=8 class="text-center">本次查无数据</td></tr>
	</#if>
	<script>
		initMultiSelect("tbody");
		$("#pager").hide();
		$(function() {
	        $('[data-tooltip="true"]').tooltip({
	            container: 'body'
	        });
		});
	</script>
<#else>
	<tbody>
		<tr class="no_more_data"><td colspan=8 class="text-center">查询异常！${response.message}</td></tr>
	</tbody>
</#if>