*.class
 
# Package Files #
*.war
*.ear
 
# ignore Maven generated target folders
target
PROJECT_DIR_IS_UNDEFINED
logs
pom.xml.versionsBackup

# ignore eclipse files
.project
.classpath
.settings
.metadata
.cache

!**/msg-type/*.class

# ignore idea files
.idea
*.iml
