<!DOCTYPE html>
<html lang="en">
  <head>
  	<#include "inc/include.html">
  	<link href="${request.contextPath}/resources/prettify/prettify.css" rel="stylesheet">
  	<link href="${request.contextPath}/css/githubmd.css" rel="stylesheet">
  	<!-- 滚动插件 -->
	<script src="${request.contextPath}/resources/nicescroll/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/resources/prettify/prettify.js"></script>
	<meta name="referrer" content="no-referrer">
	<style>
		th, td{padding:.5em;border:1px solid #000;}
	</style>
  	<title>MQCloud</title>
  </head>
  <body role="document">
 	<#include "inc/nav.html">
    <div class="container">
		<div class="row">
			<div class="col-md-2">
				<#include "inc/wikiLeft.html">
			</div>
			<div class="col-md-10 markdown-body">
				<#if response.OK>
					${response.result}
				<#else>
					${response.message}
				</#if>
			</div>
		</div>
    </div>
	<div class="right-side-bar">${toc!}</div>
  </body>
  <#include "inc/foot.html">
  <script>
	$(function(){
		$("body").niceScroll({
			cursorcolor:"#ddd",
		  	cursorwidth:"12px",
			cursorminheight: 64,
			horizrailenabled : false
		});
		$('pre').each(function(i, pre) {
            $(pre).addClass("prettyprint");
        });
		PR.prettyPrint();
		if(window.location.hash && $(window.location.hash).offset()){
			$("html,body").animate({scrollTop: $(window.location.hash).offset().top - 52}, 500);
		}
		$("#introLi").addClass("active");
	});
  </script>
</html>
