<#if operatorList??>
	<div>如果您有任何问题，可以随时联系如下运维人员：</div>
	<br>
	<table class="table table-striped table-hover noborder" style="margin-top: 0px;word-break:break-all; word-wrap:break-all;">
		<thead>
			<tr>
				<td>姓名</td>
				<td>分机</td>
				<td>手机</td>
				<td>QQ</td>
				<td>邮箱</td>
			</tr>
		</thead>
		<tbody>
			<#list operatorList as operator>
				<tr>
					<td>${operator.name}</td>
					<td>${operator.phone}</td>
					<td>${operator.mobile}</td>
					<td>${operator.qq}</td>
					<td>${operator.email}</td>
				</tr>
			</#list>
		</tbody>
	</table>
<#else>
暂无联系方式
</#if>
<#if specialThx??>
感谢为MQCloud做出贡献的小伙伴：<b>${specialThx}</b>
</#if>