<#if response.notOK>
	<div class="row">
		<div class="col-12 col-sm-12">
			<div class="info-box bg-light">
				<div class="info-box-content">
					<span class="info-box-text text-center text-muted">暂无链接</span>
				</div>
			</div>
		</div>
	</div>
<#else>
	<#list response.result as conn>
		<#if conn_index % 3 == 0>
			<#if conn_index != 0>
				</div>
			</#if>
			<div class="row">
		</#if>
		<div class="col-12 col-sm-4">
			<div class="info-box bg-light">
				<div class="info-box-content">
					<span class="info-box-text text-center text-muted">${conn.clientId}</span>
					<div>
						<span class="info-box-number text-center text-muted mb-0 float-left">${conn.language}</span>
						<span class="info-box-number text-center text-muted mb-0 float-right" title="${conn.versionStr!}">${mqVersion.getVersionDesc(conn.version)}</span>
					</div>
				</div>
			</div>
		</div>
		<#if conn_index == response.result?size - 1>
			</div>
   		</#if>
	</#list>
</#if>
<input type="hidden" id="ipList" value="<#if response.OK><#list response.result as conn>${conn.clientId?substring(0, conn.clientId?index_of("@"))},</#list></#if>">