<div class="row">
	<div class="col-md-8 offset-md-2">
		<p class="login-box-msg text-lg">根据ip搜索生产者或消费者 <a target=_blank href="${request.contextPath}/wiki/userGuide/produceAndConsume#searchIp" title="点击查看下面各项的详细释义" data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></a></p>
		<form id="ipSearchForm">
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<div class="input-group date" id="ipSearchdate" data-target-input="nearest">
							<input type="text" name="date" class="form-control datetimepicker-input" data-target="#ipSearchdate"/>
							<div class="input-group-append" data-target="#ipSearchdate" data-toggle="datetimepicker">
								<div class="input-group-text"><i class="fa fa-calendar"></i></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<div class="input-group">
							<input type="search" id="ipSearchInput" name="ip" class="form-control" placeholder="可以只写ip的前边部分">
							<div class="input-group-append">
								<button type="button" class="btn btn-default" onclick="searchTopicByIp()">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="card">
			<div class="card-body table-responsive p-0">
				<table id="ipSearchDataTable" class="table table-hover text-nowrap">
					<thead>
					<tr>
						<th title="ip归属的消费者">消费者</th>
						<th title="ip归属的生产者">生产者</th>
						<th title="关联的topic">topic</th>
					</tr>
					</thead>
					<tbody>
					<tr class="no_more_data"><td colspan=3 class="text-center">暂无数据</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(function () {
		$('#ipSearchdate').datetimepicker({
			format: 'L',
			minDate: moment({h:0, m:0, s:0, ms:0}).subtract(7, 'days'),
			maxDate: '${.now?string("yyyy-MM-dd")}',
			defaultDate: '${.now?string("yyyy-MM-dd")}',
			focusOnShow: false
		});
	});
	function searchTopicByIp() {
		if (!$("#ipSearchInput").val()) {
			alert("请输入ip地址");
			return;
		}
		post('${request.contextPath}/topic/search/ip', $("#ipSearchForm")
				.serialize(), function(data) {
			$("#ipSearchDataTable tbody").remove();
			$("#ipSearchDataTable").append(data);
		});
	}
</script>