@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1689328656430') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiaodingshi:before {
  content: "\e60c";
}

