<#if !cpu??>
	no data
</#if>
<#list cpu as item>
	<div class="col-md-6" style="padding-right:0px;<#if item_index%2==1>padding-left:0px;</#if>">
		<div id="container${item.name}"
			style="min-width: 310px; height: 400px;"></div>
	</div>
</#list>
<script type="text/javascript">
	$(document).ready(function() {
		initSubCpuChart();
	});
	
	function initSubCpuChart(){
		<#list cpu as item>
			var options = getOptions("container${item.name}", "${item.name}", "max user:${item.maxUser?string('#.##')}% sys:${item.maxSys?string('#.##')}% wa:${item.maxWa?string('#.##')}% avg user:${item.avgUser}% sys:${item.avgSys}% wa:${item.avgWa}%");
			options.series.push(${item.userSeries.toJson()});
			options.series.push(${item.sysSeries.toJson()});
			options.series.push(${item.waSeries.toJson()});
		    new Highcharts.Chart(options); 
		</#list>
	}
</script>