<#if !cpu??>
	no data
</#if>
<div class="row">
	<div class="col-md-6">
		<#list cpu as item>
			<#if item_index%2==0>
				<div class="card  mt-2">
					<div class="card-body">
						<div id="container${item.name}">
						</div>
					</div>
				</div>
			</#if>
		</#list>
	</div>
	<div class="col-md-6">
		<#list cpu as item>
			<#if item_index%2==1>
				<div class="card  mt-2">
					<div class="card-body">
						<div id="container${item.name}"
							 style="">
						</div>
					</div>
				</div>
			</#if>
		</#list>
	</div>
</div>	
<script type="text/javascript">
	// $(document).ready(function() {
	// 
	// });
	
	function initSubCpuChart(){
		<#list cpu as item>
			var options = getOptions("container${item.name}", "${item.name}", "max user:${item.maxUser?string('#.##')}% sys:${item.maxSys?string('#.##')}% wa:${item.maxWa?string('#.##')}% avg user:${item.avgUser}% sys:${item.avgSys}% wa:${item.avgWa}%");
			options.series.push(${item.userSeries.toJson()});
			options.series.push(${item.sysSeries.toJson()});
			options.series.push(${item.waSeries.toJson()});
		    new Highcharts.Chart(options); 
		</#list>
	}
	setTimeout(function (){
		initSubCpuChart();
	},200)
</script>