<div class="row">
	<div class="col-md-6">
		<div class="card mt-2">
			<div class="card-body">
				<div id="containerRead"
					 style="min-width: 310px; height: 400px; margin: 0 auto">
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div id="containerBusy"
					 style="min-width: 310px; height: 400px; margin: 0 auto">
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div id="containerSpace"
					 style="min-width: 310px; height: 400px; margin: 0 auto">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card mt-2">
			<div class="card-body">
				<div id="containerWrite"
					 style="min-width: 310px; height: 400px; margin: 0 auto">
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div id="containerIops"
					 style="min-width: 310px; height: 400px; margin: 0 auto">
				</div>
			</div>
		</div>
	</div>
</div>
	
<script type="text/javascript">
	setTimeout(function (){
		initReadChart();
		initWriteChart();
		initBusyChart();
		initIopsChart();
		initSpaceChart();
	},200)
	
	function initReadChart(){
		var options = getOptions("containerRead", "read", "max:${read.max?string('#.##')}k/s avg:${read.avg}k/s");
		<#list read.series as item>
			options.series.push(${item.toJson()});
		</#list>
	    new Highcharts.Chart(options); 
	}
	function initWriteChart(){
		var options = getOptions("containerWrite", "write", "max:${write.max?string('#.##')}k/s avg:${write.avg}k/s");
		<#list write.series as item>
			options.series.push(${item.toJson()});
		</#list>
	    new Highcharts.Chart(options); 
	}
	function initBusyChart(){
		var options = getOptions("containerBusy", "busy", "max:${busy.max?string('#.##')}% avg:${busy.avg}%");
		<#list busy.series as item>
			options.series.push(${item.toJson()});
		</#list>
	    new Highcharts.Chart(options); 
	}
	function initIopsChart(){
		var options = getOptions("containerIops", "iops", "max:${iops.max?string('#.##')}次/s avg:${iops.avg}次/s");
		<#list iops.series as item>
			options.series.push(${item.toJson()});
		</#list>
	    new Highcharts.Chart(options); 
	}
	function initSpaceChart(){
		var options = getOptions("containerSpace", "space use", "max:${space.max}% avg:${space.avg}%");
		<#list space.series as item>
			options.series.push(${item.toJson()});
		</#list>
	    new Highcharts.Chart(options); 
	}
</script>