<#if !net??>
	no data
</#if>
<#list net as item>
	<div class="col-md-6">
		<div id="container${item.name}"
			style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
</#list>
	
<script type="text/javascript">
	$(document).ready(function() {
		initSubNetChart();
	});
	
	function initSubNetChart(){
		<#list net as item>
			var options = getOptions("${item.name}", "container${item.name}");
			options.subtitle.text = "max in:${item.maxIn}k/s out:${item.maxOut}k/s avg in:${item.avgIn}k/s out:${item.avgOut}k/s";
			options.series.push(${item.inSeries.toJson()});
			options.series.push(${item.outSeries.toJson()});
		    new Highcharts.Chart(options); 
		</#list>
	}
</script>