<div class="card mt-2">
	<div class="card-header">
		<b>通用配置列表:</b>
	</div>
	<div class="card-body table-responsive p-0">
		<table class="table table-striped table-hover" style="margin-top: 0px;word-break:break-all; word-wrap:break-all; table-layout: fixed">
			<colgroup>
				<col width="80px">
				<col width="140px">
				<col width="300px">
				<col width="100px">
				<col width="120px">
			</colgroup>
			<thead>
			<tr>
				<th>序号</th>
				<th>配置项</th>
				<th>配置值</th>
				<th>注释</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<#list response.result as config>
			<tr>
				<td>${config_index + 1}</td>
				<td id="key${config.id}">${config.key}</td>
				<#if config.jsonValue>
				<td style="display: none" id="value${config.id}">${config.value!}</td>
				<td id="show${config.id}"><script>$("#show${config.id}").jsonViewer(${config.value}, {withQuotes: true, rootCollapsable: false})</script></td>
				<#else>
				<td id="value${config.id}">${config.value!}</td>
			</#if>
			<td id="comment${config.id}">${config.comment}</td>
			<td><button type="button" class="btn btn-warning" data-target="#updateConfigModal" onclick="updateConfig(${config.id})" data-toggle="modal"><span class="fas fa-edit"></span></button></td>
			</tr>
			</#list>
			</tbody>
		</table>
	</div>
</div>

<div id="updateConfigModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">修改配置</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>

			<form class="form-horizontal form-bordered form-row-stripped" id="updateConfigForm">
				<div class="modal-body modal-md">
					<div class="row">
						<div class="col-md-12">
							<div class="form-body">
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 配置项: </label>
									<div class="col-md-10">
										<input type="text" id="configKey" name="key" class="form-control" readonly="readonly"/>
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 配置值: </label>
									<div class="col-md-10">
										<textarea type="text" id="configValue" name="value" rows="6" class="form-control border"></textarea>
										<pre id="jsonPre" contenteditable="true"></pre>
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 注释: </label>
									<div class="col-md-10">
										<textarea type="text" id="configComment" name="comment" rows="6" class="form-control"></textarea>
									</div>
								</div>
								<input type="hidden" id="configId" name="id" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
					<button type="button" class="btn btn-primary" id="updateConfigBtn" onclick="update()">确定</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function updateConfig(id){
		$("#configId").val(id);
		$("#configKey").val($("#key"+id).html());
		if ($("#value" + id).is(":visible")) {
			$("#jsonPre").hide();
			$("#configValue").show().val($("#value"+id).html());
		} else {
			$("#configValue").hide();
			$("#jsonPre").show();
			$("#jsonPre").jsonViewer(JSON.parse($("#value"+id).html()), {withQuotes: true, rootCollapsable: false});
		}
		$("#configComment").val($("#comment"+id).html());
	}
	function update() {
		if ($("#jsonPre").is(":visible") && $("#jsonPre").text()) {
			try {
				JSON.parse($("#jsonPre").text());
				$("#configValue").val($("#jsonPre").text());
			} catch (e) {
				alert(e.name + ":" + e.message);
				return;
			}
		}
		disable("updateConfigBtn");
		$.post('${request.contextPath}/admin/config/update',
			$("#updateConfigForm").serialize(),
	        function(data){
	            if(data.status == 200){
					toastr.success("操作成功，系统将自动刷新");  
			        reload(3000);
			    }else{
			    	toastr.error("操作失败！"+data.message); 
			    	enable("updateConfigBtn");
			    }
	        }, 'json');
	}
</script>