<!-- 批量关联 -->
<div id="batchAssociateModal" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="width:800px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<span class="h4">批量授权</span> <span class="nostyleA" data-toggle="tooltip" data-placement="bottom" title="点击查看下面各项的详细释义"><a href="/wiki/userGuide/produceAndConsume#batchAuth" target=_blank class="glyphicon glyphicon-question-sign"></a></span>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3" style="padding-top: 7px;"> 第一步，选择用户: </label>
					        <div class="col-md-9">
								<select id="batchAssociateUserSearchSelect" multiple class="selectpicker" title="请选择" data-live-search-placeholder="搜索" name="user" data-live-search="true"></select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<b>&nbsp;&nbsp;&nbsp;第二步，选择生产者、消费者:</b>
			<br><br>
			<table class="table table-striped table-hover" style="margin-top: 0px">
				<thead>
					<colgroup>
					  <col width='50px'>
					  <col width='350px'>
					  <col width='60px'>
					  <col> 
					  <col width='70px'>
					</colgroup>
					<tr>
						<td>序号</td>
						<td>Topic</td>
						<td>角色</td>
						<td></td>
						<td><input onclick="clickAll()" id="allBox" type="checkbox"></td>
					</tr>
				</thead>
				<tbody id="topicsBody">
				</tbody>
			</table>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn" >取消</button>
				<button type="button" class="btn btn-primary" id="batchAssociateBtn" onclick="batchAssociate()">确定</button>
			</div>
		</div>
	</div>
</div> <!-- 批量授权结束 -->
<script>
	$(function(){
		$('#batchAssociateUserSearchSelect').selectpicker({
		    width: '500px'
		});
	});
	function batchAssociateModalShow(){
		$.get('${request.contextPath}/user/batch/associate',
	        function(data){
				$("#topicsBody").html(data);
				initBatchAssociateUserList();
				$('#batchAssociateModal').modal('show');
	    	}
		);
	}
	
	
	/**
	 * 初始化user下拉列表
	 */
	function initBatchAssociateUserList(){
		$.post('${request.contextPath}/user/list',
		        function(data){
		            if(data.status == 200){
		            	var content = "";
		            	for(var i in data.result){
		            		var user = data.result[i];
		            		var value = user.email.substring(0, user.email.indexOf("@"));
		            		if(user.name && user.name != value){
		            			value = user.name + "【" + value +"】";
		            		}
		            		content += "<option value='"+user.id+"'>"+value+"</option>";	
		            	}
		        		$("#batchAssociateUserSearchSelect").html(content);
		        		$('#batchAssociateUserSearchSelect').selectpicker({
		        		    width: '500px'
		        		});
		        		$("#batchAssociateUserSearchSelect").selectpicker('refresh');
				    }else{
				    	toastr.error("数据获取失败！"+data.message);  
				    }
	        }, 'json');
	}
	
	function clickAll(){
		$(".authBox").prop("checked", $("#allBox").prop('checked'));
	}
	
	
	/**
	 * 批量关联
	 */
	function batchAssociate(){
		var uids = $("#batchAssociateUserSearchSelect").val();
		if(!uids){
			alert("请选择用户!");
			return;
		}
		var producerIds = new Array();
		var consumerIds = new Array();
		$(".authBox:checked").each(function(){
			if($(this).attr("dataType") == 1) {
				producerIds.push($(this).val());
			} else {
				consumerIds.push($(this).val());
			}
		});
		if(producerIds.length == 0 && consumerIds.length == 0){
			alert("请选择生产者或消费者!");
			return;
		}
		if(confirm("确定授权给这"+uids.length+"个用户吗？")){
    		disable("batchAssociateBtn");
    		$.post('${request.contextPath}/user/batch/associate',{
    			uids: uids.join(","),
    			producerIds: producerIds.join(","),
    			consumerIds: consumerIds.join(",")
    			},function(data){
   		            if(data.status == 200){
   		            	toastr.success("申请成功！请耐心等待！");  
   		            	modalHide(3000, function(){
   		            		enable("batchAssociateBtn");
   		            	});
   				    }else{
   				    	toastr.error("申请失败！"+data.message);  
   				    	enable("batchAssociateBtn");
   				    }
   	        }, 'json');
    	}
	}
</script>