<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body table-responsive p-0">
				<table class="table table-striped table-hover text-nowrap">
					<thead>
					<tr>
						<th>序号</th>
						<th>topic</th>
						<th>收藏时间</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<#if response.empty>
						<tr>
							<td colspan="4" class="text-center">暂无数据</td>
						<tr>
							<#else>
							<#list response.result as favorite>
						<tr>
							<td>${(pagination.result.currentPage - 1)*pagination.result.numOfPage + favorite_index + 1}</td>
							<td><a title="查看详情" href="${request.contextPath}/user/topic/${favorite.tid}/detail">${favorite.topic}</a></td>
							<td>${favorite.createTime?string("yyyy-MM-dd HH:mm:ss")}</td>
							<td><i class="fas fa-heart text-secondary pointer" onclick="deleteFavorite(${favorite.tid})" data-toggle="tooltip" title="取消收藏"></i></td>
						</tr>
						</#list>
					</#if>
					</tbody>
				</table>
			</div> <!-- /.card-body -->
			<#if pagination.OK && pagination.result.totalPages gt 1>
				<div class="card-footer clearfix">
					<ul id="pagination" data-url="${request.contextPath}/user/favorite?" style="float:right"></ul>
				</div>
			</#if>
		</div>
	</div>
</div>

<script>
	/**
	 * 取消收藏
	 * @param tid
	 */
	function deleteFavorite(tid){
		$.post('${request.contextPath}/user/unfavorite',
				{
					tid: tid
				},
				function(data){
					if(data.status == 200){
						toastr.success("取消收藏成功");
						reload(2000);
					}else{
						toastr.error("取消收藏失败！"+data.message);
					}
				}, 'json');
	}
</script>
<#include "../inc/pagination.html">