<div id="favoriteModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">我的收藏</h4>
			</div>
			<table class="table table-striped table-hover" style="margin-top: 0px">
				<colgroup>
					<col width="50px">
					<col>
					<col width="160px">
					<col width="30px">
				</colgroup>
				<thead>
					<tr>
						<td>序号</td>
						<td>topic</td>
						<td>收藏时间</td>
						<td></td>
					</tr>
				</thead>
				<tbody id="favoriteTbody">
					<tr>
						<td colspan=4 class='text-center'>暂无数据</td>
					</tr>
				</tbody>
			</table>
			<div class="modal-footer">
				<ul id="favoritePagination" style="float: right"></ul>
			</div>
		</div>
	</div>
</div>

<script>
	function showFavoriteList(currentPage){
		if(!currentPage){
			currentPage = 1;
		}
		$.get('${request.contextPath}/user/favorite/list?currentPage=' + currentPage,
	        function(data){
				$("#favoriteTbody").html(data);
				$("#favoriteModal").modal('show');
	       	}
		);
	}
	/**
	 * 取消收藏
	 * @param tid
	 */
	function deleteFavorite(tid){
		$.post('${request.contextPath}/user/unfavorite',
				{
					tid: tid
				},
				function(data){
					if(data.status == 200){
						toastr.success("取消收藏成功");
						reload(2000);
					}else{
						toastr.error("取消收藏失败！"+data.message);
					}
				}, 'json');
	}
</script>