<#if response.empty>
<tr>
	<td colspan="3" class="text-center">暂无数据</td>
<tr>
<#else>
	<#list response.result as fp>
	<tr>
		<td>${(pagination.result.currentPage - 1)*pagination.result.numOfPage + fp_index + 1}</td>
		<td><a title="查看详情" href="${request.contextPath}/user/topic/${fp.tid}/detail">${fp.topic}</a></td>
		<td>${fp.updateTime?string("yyyy-MM-dd HH:mm:ss")}</td>
	</tr>
	</#list>
	<script type='text/javascript'>
		<#if pagination.OK && pagination.result.totalPages gt 1>
	       var fpOptions = {
	           currentPage: ${pagination.result.currentPage},
	           totalPages: ${pagination.result.totalPages},
	    	   bootstrapMajorVersion: 3,
	    	   size: "small",
	           tooltipTitles: function (type, page, current) {
	               switch (type) {
	               case "first":
	                   return "跳到首页";
	               case "prev":
	                   return "上一页";
	               case "next":
	                   return "下一页";
	               case "last":
	                   return "跳到尾页";
	               case "page":
	                   return "第" + page + "页";
	               }
	           },
	           onPageClicked: function (event, originalEvent, type, page) {
	        	   showFPList(page);
	           },
	           itemContainerClass: function (type, page, current) {
	       	   		return (page === current) ? "active" : "pointer-cursor";
	       	   }
	       }
	       $('#fpPagination').bootstrapPaginator(fpOptions);
		</#if>
	</script>
</#if>