<!-- 历史消息 -->
<div id="messageModel" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">全部消息</h4>
			</div>
			<table class="table table-striped table-hover" style="margin-top: 0px">
				<thead>
					<colgroup>
					  <col width='50px'></col>
					  <col></col>
					  <col width='60px'></col>
					  <col width='160px'></col>
					</colgroup>
					<tr>
						<td>序号</td>
						<td>消息</td>
						<td>状态</td>
						<td>审核时间</td>
					</tr>
				</thead>
				<tbody id="messageBody">
				</tbody>
			</table>
			<div class="modal-footer">
				<ul id="messagePagination" style="float: right"></ul>
			</div>
		</div>
	</div>
</div> <!-- 历史消息结束 -->
<script>
	/**
	 * 查看所有消息
	 */
	function messageList(currentPage) {
		if(!currentPage){
			currentPage = 1;
		}
		$.get('${request.contextPath}/user/notice/list?currentPage=' + currentPage, function(data) {
			$("#messageBody").html(data);
			readAll();
		});
	}
	
	/**
	 * 全部读取消息
	 */
	function readAll(){
		if(!$("#notifyDot").is(':visible')){
			return;
		}
		$.post('${request.contextPath}/user/notice/read/all',
	        function(data){
	            if(data.status == 200){
	            	$("#notifyDot").hide();
	            	$("#msgCount").html(0);
			    }
        }, 'json');
	}
	
	$(function(){
		// 获取用户未读消息
		$.get('${request.contextPath}/user/notice',
	        function(data){
	            if(data.status == 200){
	            	$("#msgCount").html(data.result);
	            	if(data.result == 0){
	            		$("#notifyDot").hide();
	            	} else {
	            		$("#notifyDot").show();
	            	}
			    } else {
			    	toastr.error("获取消息失败！"+data.message);  
			    }
        }, 'json');
	});
</script>