<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-outline card-secondary">
            <div class="card-body">
                <p class="login-box-msg">重置密码</p>
                <form id="registerForm">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="旧密码" id="passwordOld">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="新密码" id="passwordNewC">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="确认密码" id="passwordNewC2">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" id="resetPasswordBtn" onclick="resetPasswordCommit()">确定</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function resetPasswordCommit(){
        if(!$("#passwordOld").val() || $("#passwordNewC").val() == $("#passwordOld").val()) {
            alert("新密码不能与旧密码一致");
            return;
        }
        if(!$("#passwordNewC").val() || $("#passwordNewC").val() != $("#passwordNewC2").val()) {
            alert("两次密码不一致");
            return;
        }
        disable("resetPasswordBtn");
        $.post('${request.contextPath}/user/resetPassword',
            {
                uid : ${userInfo.user.id},
                passwordOld : $("#passwordOld").val(),
                passwordNew : $("#passwordNewC").val()
            },
            function(data){
                if(data.status == 200){
                    toastr.success("重置成功！请重新登录！");
                    reload(2000);
                }else{
                    toastr.error("重置失败！"+data.message);
                    enable("resetPasswordBtn");
                }
            }, 'json');
    }
</script>