<div class="row">
	<div class="col-12 col-sm-6 col-md-6">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title text-muted">Topic信息</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0">
				<table class="table table-striped table-hover text-wrap">
					<tbody>
						<tr>
							<td class="text-muted">topic</td>
							<td colspan="3">
								<a href="javascript:void(0)" class="copied" data-toggle="tooltip" title="点击复制${response.result.topic.name}" data-clipboard-text="${response.result.topic.name}">${response.result.topic.name}</a>
								<span data-toggle="tooltip" title="收藏"><i id="favorite" class="far fa-heart align-middle fa-xs text-secondary pointer" <#if response.result.favoriteId != 0>style="display:none;"</#if> onclick="favorite()"></i></span>
								<span data-toggle="tooltip" title="取消收藏"><i id="unfavorite" class="fas fa-heart align-middle fa-xs text-secondary pointer" <#if response.result.favoriteId == 0>style="display:none;"</#if> onclick="unfavorite()"></i></span>
							</td>
						</tr>
							<td class="text-muted"><span class="d-none d-lg-inline">所属</span>集群</td>
							<td><a href="javascript:void(0)" class="copied" data-toggle="tooltip" title="点击复制集群路由地址" data-clipboard-text="http://${mqcloudDomain}/rocketmq/nsaddr-${response.result.topic.cluster.id}">${response.result.topic.cluster.name}</a></td>
							<td class="text-muted">用途</td>
						    <td>
							<#if response.result.topic.info??>
								<span class="text-sm">
								<#if response.result.topic.info?length gt 10>
									<span data-toggle="tooltip" title="${response.result.topic.info}">${response.result.topic.info?substring(0,10)}...</span>
								<#else>
									${response.result.topic.info}
								</#if>
								</span>
								<#if response.result.own>
									<span data-toggle="tooltip" title="修改用途"><i onclick="updateTopicInfoShow(${response.result.topic.id}, '${response.result.topic.name}', '${response.result.topic.info!}')" class="fas fa-edit fa-xs text-secondary pointer"></i></span>
								</#if>
							<#else>
								<#if response.result.own>
									<span data-toggle="tooltip" title="添加用途"><i onclick="updateTopicInfoShow(${response.result.topic.id}, '${response.result.topic.name}', '${response.result.topic.info!}')" class="far fa-edit fa-xs text-secondary pointer"></i></span>
								</#if>
							</#if>
							</td>
						</tr>
						<tr>
							<td class="text-muted"><span class="d-none d-lg-inline">broker</span>队列</td>
							<td <#if response.result.own>class="edit-text"</#if>>
								<#if response.result.own><a href="javascript:void(0)" data-toggle="tooltip" title="每个broker上的队列数为${response.result.topic.queueNum}" onclick="updateTopicRouteShow()"></#if>${response.result.topic.queueNum}<#if response.result.own></a></#if>
							</td>
							<td class="text-muted">总队列</td>
							<td data-toggle="tooltip" title="整个集群队列数为${response.result.topic.queueNum*response.result.brokerSize}">${response.result.topic.queueNum*response.result.brokerSize}</td>
						</tr>
						<tr>
							<td class="text-muted"><span class="d-none d-lg-inline">消息</span>顺序</td>
							<td>
								<#if response.result.topic.ordered == 0>
									<a data-toggle="tooltip" title="查看释义" target=_blank href="${request.contextPath}/wiki/userGuide/clientConsumer#normalOrder">局部<span class="d-none d-lg-inline">有序</span></a>
								<#else>
									<a data-toggle="tooltip" title="固定路由：${response.result.orderTopicKVConfig!}" target=_blank href="${request.contextPath}/wiki/userGuide/clientConsumer#strictOrder">全局<span class="d-none d-lg-inline">有序</span></a>
								</#if>
							</td>
							<td class="text-muted">序列化<span class="d-none d-lg-inline">方式</span></td>
							<td>
								<#if response.result.topic.serializer == 1>
									<a href="${request.contextPath}/wiki/userGuide/clientProducer#produceJson"target=_blank  data-toggle="tooltip" title="查看生产JSON样例">${response.result.topic.serializerName!}</a>
								<#else>
									<a href="${request.contextPath}/wiki/userGuide/clientProducer#produceObject" target=_blank data-toggle="tooltip" title="查看生产对象或Map样例">${response.result.topic.serializerName!}</a>
								</#if>
							</td>
						</tr>
						<tr>
							<td class="text-muted">trace<span class="d-none d-lg-inline">状态</span></td>
							<td>
								<#if response.result.own && !response.result.topic.cluster.isEnableTrace()>
									<#if response.result.topic.traceEnabled()>
										<span data-toggle="tooltip" title="关闭trace?"><i class="fas fa-toggle-on text-secondary pointer" onclick="updateTopicTraceShow(1)"></i></span>
									<#else>
										<span data-toggle="tooltip" title="开启trace?"><i class="fas fa-toggle-off text-secondary pointer" onclick="updateTopicTraceShow(0)"></i></span>
									</#if>
								<#else>
									<#if response.result.topic.traceEnabled()>
										<i class="fas fa-toggle-on"></i>
									<#else>
										<i class="fas fa-toggle-off"></i>
									</#if>
								</#if>
							</td>
							<td><a data-target="#warnConfigListModal" data-toggle="modal" title="查看流量预警规则" class="pointer">流量<span class="d-none d-lg-inline">预警</span></a></td>
							<td>
								<#if response.result.own>
									<span data-tooltip="true" onclick="addWarnConfig()" title="添加流量预警规则"><i class="fas fa-fw fa-regular fa-pen-to-square text-secondary pointer"></i></span>
								</#if>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title text-muted">生产者信息</h3>
			</div> <!-- /.card-header -->
			<div class="card-body table-responsive p-0">
				<table class="table table-striped text-wrap">
					<tbody>
						<tr>
							<td class="text-muted" title="producer group" data-toggle="tooltip">生产者</td>
							<td class="text-muted"><span class="d-none d-lg-inline">所属</span>用户</td>
						</tr>
						<#if response.result.producerFilterMap?? && response.result.producerFilterMap?size gt 0>
							<#list response.result.producerFilterMap as key, producers>
								<tr>
									<td><a href="javascript:void(0)" onclick="showProducerStats('${key.producer}')" data-html="true" data-placement="bottom" data-toggle="tooltip" title="点击查看客户端状况<br><#if key.protocol == 0>协议：RocketMQ</#if><#if key.protocol == 1>协议：HTTP</#if><#if key.protocol == 2>协议：Proxy Remoting</#if>">${key.producer}</a> <span data-toggle="tooltip" title="点击复制${key.producer}"><i class="fas fa-copy fa-xs copied text-secondary pointer" data-clipboard-text="${key.producer}"></i></span></td>
									<td>
										<#assign flag = 0>
										<#assign userName = userInfo.user.name!userInfo.user.getEmailName()>
										<#list producers as producer>
											<#if producer.username == userName>
											  <#assign flag = 1>
											</#if>
										</#list>
										<#if flag == 1 || userInfo.user.type == 1>
											<#if producers?size == 1>
												<span>${producers[0].username}</span>
											<#else>
												<#list producers as producer>
													<#if producer_index != 0>
													,
													</#if>
													<span onclick="prepareDeleteUserProducer(${producer.id})" data-toggle="tooltip" title="移除${producer.username}?" id="producer_${producer.id}" class="producer_delete text-secondary pointer text-sm">${producer.username}</span>
												</#list>
											</#if>
											<span data-toggle="tooltip" title="授权其他用户查看${response.result.topic.name}?"><i class="fas fa-user-plus fa-xs text-secondary pointer" onclick="associateUserProducer('${key.producer}')"></i></span>
										<#else>
											<#list producers as producer>
												<#if producer_index != 0>
												,
												</#if>
												<span>${producer.username}</span>
											</#list>
										</#if>
									</td>
								</tr>
							</#list>
						<#else>
							<tr>
							<td colspan=2 class="text-center">生产者还未进行关联</td>
							</tr>
						</#if>
					</tbody>
				</table>
			</div> <!-- /.card-body -->
		</div> <!-- /.card -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title text-muted">今日流量</h3>
			</div>
			<div class="card-body table-responsive p-0">
				<table class="table">
					<tbody>
					<tr>
						<td>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success" style="width: ${response.result.producePercent}%"></div>
								<div class="progress-bar bg-warning" style="width: ${response.result.consumePercent}%"></div>
							</div>
							<small>
								<span class="text-muted">生产</span> ${response.result.producePercent}%
							</small>
							<small class="float-right">
								<span class="text-muted">消费</span> ${response.result.consumePercent}%
							</small>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- 	拓扑部分 -->
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title text-muted">Topic拓扑</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0">
				<div id="topologyDiv" style="height:500px;"></div>
			</div>
			<#if pagination.OK && pagination.result.totalPages gt 1>
			<div class="card-footer clearfix">
				<ul id="pagination" style="margin:0px;float: right;" style="float:right" data-url="${request.contextPath}/user/topic/${response.result.topic.id}/detail?tab=topology"></ul>
			</div>
			</#if>
		</div>
	</div>
</div>
<script>
var curProducer;
<#if response.OK>
<#setting number_format="#">
$(function() {
	<#if response.result.consumerList??>
		<#if response.result.consumerList?size <= 1>
			$("#topologyDiv").attr("style", "height:200px;");
		<#elseif response.result.consumerList?size <= 2>
			$("#topologyDiv").attr("style", "height:400px;");
		<#elseif response.result.consumerList?size <= 5>
			$("#topologyDiv").attr("style", "height:450px;");
		<#elseif response.result.consumerList?size <= 10>
			$("#topologyDiv").attr("style", "height:600px;");
		</#if>
	</#if>
	<#if response.result.producerFilterMap??>
		<#if response.result.producerFilterMap?size gt 1 && response.result.consumerList?size <= 1>
			$("#topologyDiv").attr("style", "height:400px;");
		</#if>
	</#if>

    // 拓扑
	var nodes = new vis.DataSet([
		{
			id: 'topic',
			label: '${splitUtil.getNewLine(response.result.topic.name, 20)}',
			data: '${response.result.topic.name}',
			shape: 'circle',
			x: 0,
			y: 400,
			group: 'topic'
		}
	]);

	var edges = new vis.DataSet();
	<#if response.result.consumerList?? && response.result.consumerList?size gt 0>
		<#if response.result.consumerList?size == 1>
			<#assign consumerY = 800>
		<#else>
			<#assign consumerY = 800/response.result.consumerList?size>
		</#if>
		<#list response.result.consumerList as consumer>
			nodes.add({
				id: 'c_${consumer_index}',
				label: '${splitUtil.getNewLine(consumer.name, 25)}',
				data: '${consumer.name}',
				title: '点击查看客户端链接信息',
				x: 300,
				y: ${consumer_index * consumerY + consumerY / 2},
				group: 'consumer'
			});
			edges.add({
		        id: 'c_e_${consumer_index}',
				from: 'topic',
				to: 'c_${consumer_index}',
				label: '<#if consumer.consumerTraffic??>${consumer.consumerTraffic.countFormat}/分\n${consumer.consumerTraffic.sizeFormat}/分</#if>',
				font : { align: 'middle', size : 12 },
				group: 'consumer'
			});
		</#list>
	<#else>
		nodes.add({
			id: 'c_0',
			label: '暂无消费者',
			x: 300,
			y: 400,
			group: 'consumer'
		});
	</#if>

	<#if response.result.producerFilterMap?? && response.result.producerFilterMap?size gt 0>
		<#if response.result.producerFilterMap?size == 1>
			<#assign producerY = 800>
		<#else>
			<#assign producerY = 800/response.result.producerFilterMap?size>
		</#if>
		<#list response.result.producerFilterMap as producer, v>
			nodes.add({
				id: 'p_${producer_index}',
				label: '${splitUtil.getNewLine(producer.producer, 20)}',
				data: '${producer.producer}',
				title: '点击查看客户端链接信息',
				x: -300,
				y: ${producer_index * producerY + producerY / 2},
				group: 'producer'
			});
			edges.add({
			    id: 'p_e_${producer_index}',
				from: 'p_${producer_index}',
				to: 'topic',
				label: '<#if response.result.producerHasTraffic><#if producer.traffic??>${producer.traffic.countFormat}/分\n${producer.traffic.sizeFormat}/分</#if><#else><#if response.result.topicTraffic??>${response.result.topicTraffic.countFormat}/分\n${response.result.topicTraffic.sizeFormat}</#if></#if>',
				font : { align: 'middle', size : 12 },
				group: 'producer'
			});
		</#list>
	<#else>
		nodes.add({
			id: 'p_0',
			label: '暂无生产者',
			x: -300,
			y: 400,
			group: 'producer'
		});
	</#if>

	var options = {
		interaction:{
			hover:true,
			dragView: false
		},
		physics: {
			enabled: false
		},
		nodes: {
			shape: 'box',
			borderWidth: 1,
			shadow:true
		},
		edges: {
			width: 1,
			shadow:true,
			font: {align: 'middle', size:12},
			arrows:'to',
			color: 'rgb(255,99,0)',
			dashes:true
		},
		groups:{
			producer:{
				color: {background:'white', border:'rgb(255,182,30)', highlight:{background:'rgb(255,182,30)'}, hover:{background:'rgb(255,182,30)'}}
			},
			consumer:{
				color: {background:'white', border:'rgb(255,182,13)', highlight:{background:'rgb(255,182,13)'}, hover:{background:'rgb(255,182,13)'}}
			},
			topic:{
				color: {background:'white', border:'rgb(255,182,0)', highlight:{background:'rgb(255,182,0)'}, hover:{background:'rgb(255,182,0)'}}
			}
		}
	};
	var container = document.getElementById("topologyDiv");
	var data = {nodes: nodes, edges: edges};
	var network = new vis.Network(container, data, options);

	// 添加动画
	var edgeArray = edges.get();
	var consumerEdges = [];
	var producerEdges = [];
	for (var n in edgeArray) {
		if (edgeArray[n].group === 'consumer') {
			consumerEdges.push({edge:edgeArray[n].id, trafficSize:5});
		} else if(edgeArray[n].group === 'producer') {
			producerEdges.push({edge:edgeArray[n].id, trafficSize:5});
		}
	}
	network.on("hoverNode", function (params) {
		if (params.node === 'topic') {
			network.animateTraffic(producerEdges, null, null, null, function () {
				network.animateTraffic(consumerEdges);
			});
			return;
		}
		var edges = data.edges.get({
			filter: function(item) {
				return item.from === params.node;
			}
		});
		var list = [];
		for (var n in edges) {
			list.push({edge:edges[n].id, trafficSize:5});
		}
		if (list.length !== 0) {
			network.animateTraffic(list, null, null, null, function () {
				network.animateTraffic(consumerEdges);
			});
		}
	});
	network.on("click", function (params) {
		var nodes = data.nodes.get({
			filter: function(item) {
				return item.id === params.nodes[0];
			}
		});
		if (nodes.length === 0) {
			return;
		}
		var node = nodes[0];
		if (!node.data) {
			return;
		}
		if (node.group === 'topic') {
			return;
		}
		var type = 1;
		if (node.group === 'consumer') {
			type = 2;
		}
		showClientConnection(type, node.data);
	});
});
</#if>
</script>

<!-- 客户端链接 -->
<div id="clientConnectionModal" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><span id="clientGroup"></span>的链接</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body" id="clientConnectionBody">
			</div>
		</div>
	</div>
</div>

<!-- 修改路由 -->
<div id="updateTopicRouteModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">队列数量修改</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form id="updateTopicRouteForm">
					<div class="input-group mb-3">
						<label for="queueNum" class="col-form-label col-md-3"> 队列数: </label>
						<div class="col-md-8">
							<input type="text" id="queueNum" name="queueNum" value="${response.result.topic.queueNum}" placeholder="队列数" class="form-control" />
						</div>
					</div>
					<div class="input-group mb-3">
						<label for="info" class="col-form-label col-md-3"> 申请原因: </label>
						<div class="col-md-8">
							<textarea type="text" id="info" name="info" rows="3" class="form-control" placeholder="请填写"></textarea>
						</div>
					</div>
					<input type="hidden" name="tid" value="${response.result.topic.id}"/>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" data-dismiss="modal" class="btn btn-default" >取消</button>
				<button type="button" onclick="updateTopicRoute()" id="updateTopicBtn" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>
<!-- 提示弹窗 -->
<div class="modal fade" id="deleteUserProducerModal" aria-hidden="true">  
  <div class="modal-dialog">  
    <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title">确定要移除用户吗？</h4>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
		<div class="modal-body">
			<form class="form-horizontal form-bordered form-row-stripped">
				<div class="form-group row">
					<label class="col-form-label col-md-3"> 用户: </label>
					<div class="col-md-9">
						<input type="text" id="producer" class="form-control" readonly="readonly"/>
					</div>
				</div>
				<input type="hidden" id="pid" name="pid"/>
			</form>
		</div>
		<div class="modal-footer justify-content-between">
			<button type="button" data-dismiss="modal" class="btn btn-default" >取消</button>
			<button type="button" id="deleteProducerBtn" onclick="deleteUserProducer()" class="btn btn-primary">确定</button>
		</div>
    </div>
  </div>
</div>
<div id="addUserProducerModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">授权其他用户</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form id="addUserProducerModalForm">
					<div class="input-group mb-3">
						<label for="topicId" class="col-form-label col-md-3"> Topic: </label>
						<div class="col-md-9">
							<input id="topicId" type="text" name="tid" value="${response.result.topic.name}" data-toggle="tooltip"  title="${response.result.topic.name}" readonly="readonly" class="form-control"/>
							<input id="currentTopicID" type="hidden" value="${response.result.topic.id}"/>
						</div>
					</div>
					<div id="producerGroup" class="input-group mb-3"  style="display:none;">
						<label for="producerGroupName" class="col-form-label col-md-3"> 生产者: </label>
						<div class="col-md-9">
							<input type="text" name="producer" id="producerGroupName" readonly="readonly" class="form-control" />
						</div>
					</div>
					<div class="input-group mb-3">
						<label for="userSearchSelect" class="col-form-label col-md-3"> 选择用户: </label>
						<div class="col-md-9">
							<#if response.result?? && response.result?size gt 0>
							<select id="userSearchSelect" class="selectpicker  form-control" title="请选择" data-live-search-placeholder="搜索" name="user" data-live-search="true"></select>
							<#else>
							<input type="text" value="拉取用户列表失败"/>
							</#if>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" data-dismiss="modal" class="btn btn-default" >取消</button>
				<button type="button" class="btn btn-primary" id="associateBtn" onclick="addUserProducerRelationship()">确定</button>
			</div>
		</div>
	</div>
</div> 
<!-- 客户端统计 -->
<div id="producerStatsModal" class="modal fade"  style="overflow-y: auto;">
	<div class="modal-dialog  modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="producerStatsTitle"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="producerStatsChart"></div>
			</div>
		</div>
	</div>
</div>

<#--修改topic trace-->
<div id="updateTopicTraceModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">修改追踪</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<form id="updateTopicTraceModalForm">
					<div class="form-group">
						<div class="form-control-static">
							<b><span id='traceSelect'></span> trace ?</b>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="updateTopicTraceBtn" onclick="updateTopicTrace()">确定</button>
			</div>
		</div>
	</div>
</div>
<!-- 开启/关闭topic流量突增预警 -->
<div id="updateTopicTrafficWarnModal" class="modal fade" data-width="400" style="z-index:2001;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>流量突增预警 </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<form id="updateTopicTrafficWarnForm">
					<div class="form-group">
						<div class="form-control-static">
							<b><span id='topicTrafficWarnSelect'></span> 流量突增预警 ?</b>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="updateTopicTrafficWarnBtn" onclick="updateTopicTrafficWarn()">确定</button>
			</div>
		</div>
	</div>
</div>

<#--修改topic描述-->
<div id="updateTopicInfoModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><span id="topicName"></span>描述更新</h5>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form id="addUserProducerModalForm">
					<div class="input-group mb-2">
						<label class="col-md-2"> 用途: </label>
						<div class="col-md-10">
							<input type="hidden" id="topicId">
							<textarea id="topicInfo" rows="5" class="form-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" data-dismiss="modal" class="btn btn-default" >取消</button>
				<button type="button" class="btn btn-primary" id="updateTopicInfoBtn" onclick="updateTopicInfo()">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- topic流量预警规则配置 -->
<div id="topicWarnConfigModal" class="modal fade" tabindex="-1" data-width="400" style="z-index:2000;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<span class="h5"><span id="topicWarnConfigTitle">添加</span>流量预警规则</span><a target=_blank href="${request.contextPath}/wiki/userGuide/monitorAndWarn#topicWarnConfig" title="了解详情" data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></a>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form id="topicWarnConfigForm">
					<div class="input-group mb-3">
						<label class="col-form-label col-md-3"> 检测项: </label>
						<div class="col-md-8">
							<select id="operandTypeSelect" class="form-control selectpicker border warnConfgSelect" name="operandType">
								<option value="0">每5分钟的消息量</option>
								<option value="1">每小时的消息量</option>
								<option value="2">每天的消息量</option>
								<option value="3">消息量按5分钟环比</option>
								<option value="4">消息量按小时环比</option>
								<option value="5">消息量按天环比</option>
							</select>
						</div>
					</div>
					<div class="input-group mb-3">
						<label class="col-form-label col-md-3"> 检测条件: </label>
						<div class="col-md-8">
							<select id="operatorTypeSelect" class="form-control selectpicker border warnConfgSelect" name="operatorType">
								<option value="0">大于</option>
								<option value="1">小于</option>
								<option value="2">大于等于</option>
								<option value="3">小于等于</option>
							</select>
						</div>
					</div>
					<div class="input-group mb-3">
						<label for="thresholdInput" class="col-form-label col-md-3"> 阈值: </label>
						<div class="col-md-8">
							<div class="input-group">
								<input type="text" id="thresholdInput" name="threshold" class="form-control" />
								<div class="input-group-append">
									<span id="thresholdAppendSpan" class="input-group-text">条</span>
								</div>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<label class="col-form-label col-md-3"> 预警间隔: </label>
						<div class="col-md-8">
							<div class="input-group">
								<input type="text" id="warnIntervalInput" name="warnInterval" class="form-control" placeholder="若无必要，请保持默认"/>
								<div class="input-group-append">
									<span class="input-group-text">分钟</span>
								</div>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<label class="col-form-label col-md-3"> 从此时间生效: </label>
						<div class="col-md-8">
							<div class="input-group" id="warnConfigTimeStartTimePicker" data-target-input="nearest">
								<input type="text" id="warnConfigTimeStartTimePickerInput" placeholder="若无必要，请保持默认" name="warnConfigTimeStart" class="form-control datetimepicker-input" data-target="#warnConfigTimeStartTimePicker"/>
								<div class="input-group-append" data-target="#warnConfigTimeStartTimePicker" data-toggle="datetimepicker">
									<div class="input-group-text"><i class="far fa-clock"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<label class="col-form-label col-md-3"> 此时间后失效: </label>
						<div class="col-md-8">
							<div class="input-group" id="warnConfigTimeEndTimePicker" data-target-input="nearest">
								<input type="text" id="warnConfigTimeEndTimePickerInput" placeholder="若无必要，请保持默认" name="warnConfigTimeEnd" class="form-control datetimepicker-input" data-target="#warnConfigTimeEndTimePicker"/>
								<div class="input-group-append" data-target="#warnConfigTimeEndTimePicker" data-toggle="datetimepicker">
									<div class="input-group-text"><i class="far fa-clock"></i></div>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="tid" value="${response.result.topic.id}"/>
					<input type="hidden" id="topicWarnConfigEnable" name="enabled" value="1"/>
					<input type="hidden" id="topicWarnConfigId" name="id" disabled="true"/>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" data-dismiss="modal" class="btn btn-default" >取消</button>
				<button type="button" onclick="topicWarnConfig()" id="topicWarnConfigBtn" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- 流量预警规则 -->
<div id="warnConfigListModal" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">流量预警列表</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="card">
					<div class="card-body">
						<a target=_blank href="${request.contextPath}/wiki/userGuide/monitorAndWarn#trafficMonitor" title="了解详情" data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></a>
						<span class="text-muted">流量突增预警</span>
						<#if response.result.topic.trafficWarnEnabled()>
							<button type="button" class="btn btn-xs btn-outline-secondary" data-toggle="tooltip" title="关闭预警?" onclick="updateTopicTrafficWarnShow(1,${response.result.topic.id})"><i class="fas fa-fw fa-toggle-on"></i></button>
						<#else>
							<button type="button" class="btn btn-xs btn-outline-secondary" data-toggle="tooltip" title="开启预警?" onclick="updateTopicTrafficWarnShow(0)"><i class="fas fa-fw fa-toggle-off"></i></button>
						</#if>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<a target=_blank href="${request.contextPath}/wiki/userGuide/monitorAndWarn#topicWarnConfig" title="了解详情" data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></a>
						<span class="text-muted">流量预警规则</span>
					</div>
					<div class="card-body table-responsive p-0">
						<table class="table table-striped table-hover text-nowrap">
							<thead>
								<tr>
									<th>序号</th>
									<th>检测项</th>
									<th>检测条件</th>
									<th>阈值</th>
									<th>预警间隔</th>
									<th>生效时间段</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="warnConfigListBody">
								<tr>
									<td colspan=7 class="text-center">暂无数据</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function () {
		// 初始化user列表
		initUserList('userSearchSelect');

        //添加删除特效
        $(".producer_delete").hover(function(){
        	$(this).addClass("text-delete");
        },function(){
        	$(this).removeClass("text-delete");
        });
        
        // fix bootstrap model & highcharts resize
        $('#producerStatsModal').on('shown.bs.modal', function() {
        	producerStats();
        });

		var defaultTimerOption = {
			format: 'HH:mm',
			icons: { time: 'far fa-clock' },
			focusOnShow: false
		}

		$("#warnConfigTimeStartTimePicker").datetimepicker(defaultTimerOption);
		$("#warnConfigTimeEndTimePicker").datetimepicker(defaultTimerOption);
		$('.warnConfgSelect').selectpicker({
			size: 6 // 设置下拉项的显示数量
		});

		$("#operandTypeSelect").selectpicker().on('changed.bs.select', function () {
			var value = $('#operandTypeSelect option:selected').val();
			updateThresholdAppendSpan(value);
		});
	});
	
	// 准备删除生产者
	function prepareDeleteUserProducer(pid){
		$("#pid").val(pid);
		$("#producer").val($("#producer_"+pid).text());
		$("#deleteUserProducerModal").modal('show');
	}
	// 删除生产者
	function deleteUserProducer(){
		disable("deleteProducerBtn");
		$.post('${request.contextPath}/userProducer/delete',
			{
				pid: $("#pid").val()
			},
	        function(data){
	            if(data.status == 200){
					toastr.success("申请成功，请稍后查看！即将跳转到我的工单");
					toMyAuditPage();
			    }else{
			    	toastr.error("删除失败！"+data.message);  
			    	enable("deleteProducerBtn");
			    }
	    }, 'json');
	}
	// 关联用户
	function associateUserProducer(producerGroupName){		
	  $("#producerGroupName").val(producerGroupName);
	  $('#associateBtn').attr("disabled",false);
	  $("#addUserProducerModal").modal('show');
	}
	/**
	 * 初始化user下拉列表
	 */
	function initUserList(componentId){
		$.post('${request.contextPath}/user/list',
		        function(data){
		            if(data.status == 200){
		            	var content = "";
		            	for(var i in data.result){
		            		var user = data.result[i];
		            		var value = user.email.substring(0, user.email.indexOf("@"));
		            		if(user.name && user.name != value){
		            			value = user.name + "【" + value +"】";
		            		}
		            		content += "<option value='"+user.id+"'>"+value+"</option>";	
		            	}
		        		$("#"+componentId).html(content);
		        		$("#"+componentId).selectpicker('refresh');
				    }else{
				    	toastr.error("数据获取失败！"+data.message);  
				    }
	        }, 'json');
	}
/**
 * 发送添加用户请求
 */
function addUserProducerRelationship(){
	if(!$("#userSearchSelect").val()){
		alert("请先选择用户");
		return;
	}
	disable("associateBtn");
	$.post('${request.contextPath}/producer/auth/associate',
			{
				producer: $("#producerGroupName").val(),
				tid: $("#currentTopicID").val(),
				uid: $('#userSearchSelect option:selected').val(),
			},
	        function(data){
	            if(data.status == 200){
	            	toastr.success("申请成功，请稍后查看！即将自动刷新");
	            	reload(1000);            	
			    }else{
			    	toastr.error("申请失败！"+data.message);  
			    	enable("associateBtn");
			    }
	    }, 'json');
}

/**
 * 获取生产者统计图
 */
function producerStats(){
	$.get('${request.contextPath}/producer/stats',
		{
			producer: curProducer
		},
        function(data){
            $("#producerStatsChart").html(data);
    });	
}

function showProducerStats(producer){
	curProducer = producer;
	$("#producerStatsChart").empty();
	$("#producerStatsTitle").html(producer+"客户端状况统计");
	$('#producerStatsModal').modal('show');
	$("[data-toggle='tooltip']").tooltip('hide');
}

function updateTopicRouteShow(){
	$('#updateTopicRouteModal').modal('show');
}

function updateTopicTraceShow(traceable){
	if(traceable == 1) {
		$("#traceSelect").html("关闭");
		$("#traceSelect").val(0);
	} else {
		$("#traceSelect").html("开启");
		$("#traceSelect").val(1);
	}
	$('#updateTopicTraceModal').modal('show');
}

function updateTopicTrace(){
	disable("updateTopicTraceBtn");
	$.post('${request.contextPath}/topic/update/trace/' + $("#currentTopicID").val(),
			{
				traceEnabled: $("#traceSelect").val()
			},
	        function(data){
	            if(data.status == 200){
					toastr.success("申请成功，请稍后查看！即将跳转到我的工单");
					toMyAuditPage();
			    }else{
			    	toastr.error("操作失败！"+data.message);  
			    	enable("updateTopicTraceBtn");
			    }
	    }, 'json');
}

function updateTopicTrafficWarnShow(trafficWarnEnable) {
	if(trafficWarnEnable == 1) {
		$("#topicTrafficWarnSelect").html("关闭");
		$("#topicTrafficWarnSelect").val(0);
	} else {
		$("#topicTrafficWarnSelect").html("开启");
		$("#topicTrafficWarnSelect").val(1);
	}
	$('#updateTopicTrafficWarnModal').modal('show');
}
/**
 * 更新预警配置
 */
function updateTopicTrafficWarn(){
	disable("updateTopicTrafficWarnBtn");
	$.post('${request.contextPath}/topic/update/trafficWarn/' + $("#currentTopicID").val(),
			{
				trafficWarnEnabled: $("#topicTrafficWarnSelect").val()
			},
			function(data){
				if(data.status == 200){
					toastr.success("申请成功，请稍后查看！即将跳转到我的工单");
					toMyAuditPage();
				}else{
					toastr.error("操作失败！"+data.message);
					enable("updateTopicTrafficWarnBtn");
				}
			}, 'json');
}

/**
 * 收藏
 */
function favorite(){
	$.post('${request.contextPath}/user/favorite',
	{
		tid: ${response.result.topic.id}
	},
	function(data){
		if(data.status == 200){
			toastr.success("收藏成功");
			$("#favorite").hide();
			$("#unfavorite").show();
		}else{
			toastr.error("收藏失败！"+data.message);
		}
	}, 'json');
}

/**
 * 取消收藏
 * @param tid
 */
function unfavorite(){
	$.post('${request.contextPath}/user/unfavorite',
	{
		tid: ${response.result.topic.id}
	},
	function(data){
		if(data.status == 200){
			toastr.success("取消收藏成功");
			$("#unfavorite").hide();
			$("#favorite").show();
		}else{
			toastr.error("取消收藏失败！"+data.message);
		}
	}, 'json');
}

function updateTopicRoute() {
	var queueNum = $("#queueNum").val();
	if (Number(queueNum) < 1 || Number(queueNum) > 20) {
		alert("队列最小为1,最大为20");
		return;
	}
	disable("updateTopicBtn");
	$.post('${request.contextPath}/topic/updateRoute', $("#updateTopicRouteForm").serialize(), function (data) {
		if (data.status == 200) {
			toastr.success("申请成功，请稍后查看！即将自动刷新页面");
			reload(2000);
		} else {
			toastr.error("申请失败！" + data.message);
			enable("updateTopicBtn");
		}
	}, 'json');
}

function showClientConnection(type, group) {
	$("#clientGroup").html(group);
	post('${request.contextPath}/topic/connection', {
		topic: '${response.result.topic.name}',
		type: type,
		cid: ${response.result.topic.clusterId},
		group: group
	}, function (content) {
		$("#clientConnectionBody").html(content);
		$('#clientConnectionModal').modal('show');
		console.log($("#ipList").val());
	});
}

function updateTopicInfoShow(tid, topicName, info){
	$("#topicId").val(tid);
	$("#topicName").html(topicName);
	$("#topicInfo").val(info);
	$('#updateTopicInfoModal').modal('show');
}

function updateTopicInfo(){
	if(!$("#topicInfo").val()){
		alert("请输入用途");
		return;
	}
	disable("updateTopicInfoBtn");
	$.post('${request.contextPath}/topic/update/info',
			{
				info: $("#topicInfo").val(),
				tid: $("#topicId").val()
			},
			function(data){
				if(data.status == 200){
					toastr.success("操作成功！即将刷新页面！");
					reload(2000);
				}else{
					toastr.error("操作失败！"+data.message);
					enable("updateTopicInfoBtn");
				}
			}, 'json');
}

$(function () {
	<#if RequestParameters.from??>
		showProducerStats('${RequestParameters.from}')
	</#if>

	$('#warnConfigListModal').on('shown.bs.modal', function() {
		warnConfigList();
	});
});

function topicWarnConfig() {
	var threshold = $("#thresholdInput").val();
	if (!threshold) {
		alert("请输入阈值");
		return;
	}
	if (isNaN(Number(threshold))) {
		alert("阈值只能为数字");
		return;
	}
	var startTime = $("#warnConfigTimeStartTimePickerInput").val();
	var endTime = $("#warnConfigTimeEndTimePickerInput").val();
	if (startTime || endTime) {
		if (!startTime) {
			alert("请输入生效时间");
			return;
		}
		if (!endTime) {
			alert("请输入失效时间");
			return;
		}
	}
	var warnInterval = $("#warnIntervalInput").val();
	if (warnInterval) {
		var warnInterval = Number(warnInterval);
		if (isNaN(warnInterval) || warnInterval < 0) {
			alert("预警间隔只能为数字");
			return;
		}
	}

	var tip = "";
	if (startTime) {
		tip += "在" + startTime + "至" + endTime + "之间，";
	}
	tip += "当" + $("#operandTypeSelect option:selected").text() + $("#operatorTypeSelect option:selected").text()
			+ threshold + $("#thresholdAppendSpan").html();
	tip += "时进行预警";
	if (warnInterval) {
		tip += "，" + warnInterval + "分钟内最多预警一次";
	}
	if (!confirm(tip)) {
		return;
	}
	disable("topicWarnConfigBtn");
	$.post('${request.contextPath}/topic/warn/config/add',
			$("#topicWarnConfigForm").serialize(),
			function (data) {
				if (data.status == 200) {
					toastr.success("操作成功！即将刷新页面！");
					reload(2000);
				} else {
					toastr.error("操作失败！" + data.message);
					enable("topicWarnConfigBtn");
				}
			}, 'json');
}

function warnConfigList() {
	$.get('${request.contextPath}/topic/warn/config/list/${response.result.topic.id}', function (data) {
		$("#warnConfigListBody").html(data);
		$("[data-toggle='tooltip']").tooltip({boundary: 'window'});
	});
}
function deleteWarnConfig(id) {
	if (!confirm("确定要删除这条规则吗？")) {
		return;
	}
	$.post('${request.contextPath}/topic/warn/config/delete/' + id, function (data) {
		if (data.status == 200) {
			toastr.success("操作成功！");
			$("#warnConfig"+id).remove();
		} else {
			toastr.error("操作失败！" + data.message);
		}
	}, 'json');
}
function updateWarnConfig(element, id, enable) {
	$(element).hide().siblings().show();
	$.post('${request.contextPath}/topic/warn/config/update/enable/' + id, {
		enable: enable
	}, function (data) {
		if (data.status == 200) {
			toastr.success("操作成功！");
		} else {
			toastr.error("操作失败！" + data.message);
			$(element).show().siblings().hide();
		}
	}, 'json');
}

function editWarnConfig(id) {
	$("#topicWarnConfigTitle").html("修改");
	$("#topicWarnConfigModal").modal('show');
	$.get('${request.contextPath}/topic/warn/config/' + id, function (data) {
		if (data.status != 200) {
			toastr.error("获取数据失败！" + data.message);
			return;
		}
		setWarnConfigFormForUpdate(data.result);
	});
}

function addWarnConfig() {
	$("#topicWarnConfigModal").modal('show');
	resetsWarnConfigForm();
}

function resetsWarnConfigForm() {
	$("#topicWarnConfigTitle").html("添加");
	$("#topicWarnConfigEnable").val(1);
	$("#topicWarnConfigId").prop('disabled', true);
	$("#operandTypeSelect").val(0);
	$("#operatorTypeSelect").val(0);
	$("#thresholdInput").val("");
	$("#warnIntervalInput").val("");
	$("#warnConfigTimeStartTimePickerInput").val("");
	$("#warnConfigTimeEndTimePickerInput").val("");
	updateThresholdAppendSpan(0);
}

function setWarnConfigFormForUpdate(config) {
	$("#topicWarnConfigEnable").val(config.enabled);
	$("#topicWarnConfigId").val(config.id).prop('disabled', false);
	$("#operandTypeSelect").val(config.operandType);
	$("#operatorTypeSelect").val(config.operatorType);
	$("#thresholdInput").val(config.threshold);
	if (config.warnInterval > 0) {
		$("#warnIntervalInput").val(config.warnInterval);
	} else {
		$("#warnIntervalInput").val("");
	}
	if (config.warnTime) {
		var times = config.warnTime.split("-");
		$("#warnConfigTimeStartTimePickerInput").val(times[0]);
		$("#warnConfigTimeEndTimePickerInput").val(times[1]);
	} else {
		$("#warnConfigTimeStartTimePickerInput").val("");
		$("#warnConfigTimeEndTimePickerInput").val("");
	}
	updateThresholdAppendSpan(config.operandType);
}

function updateThresholdAppendSpan(operandType) {
	if (operandType == 3 || operandType == 4 || operandType == 5) {
		$("#thresholdAppendSpan").html("%");
	} else {
		$("#thresholdAppendSpan").html("条");
	}
}

</script>
<#include "../inc/pagination.html">
