<div id="mqcloud-warning"><span class="glyphicon glyphicon-volume-up" style="position:relative;top:2px;" aria-hidden="true"></span> <b id="warning-content"></b></div>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h4>Topic列表</h4>
        </div>
		<div class="form-body">
			<div class="form-group">
				<div class="col-md-6" style="padding-left:0px;">
				</div>
		        <div class="col-md-6 text-right" style="padding-right:0px;">
		       	 	<form class="form-inline" id="topicList">
	       		  	   <#if userInfo.user.type == 1>
				  	     <div class="form-group">
						    <select id="topicSearchSelect" class="selectpicker" title="搜索topic" data-live-search-placeholder="输入任意字母" name="topic" data-live-search="true"></select>
				 	     </div>
				 	   <#else>
				 	     <div class="form-group">
				    	    <input type="text" class="form-control" name="topic" value="<#if response.OK>${response.result.queryTopic!}</#if>" placeholder="Topic名字">
				  	     </div>
						 <button type="submit" onclick="searchTopic()" class="btn btn-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				  	   </#if>
				  	</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<br/>
	<div class="col-md-12">
        <table class="table table-striped table-hover" style="margin-top: 0px">
		        <colgroup>
					<col width="50px">
					<col>
					<col width="100px">
					<col width="100px">
					<col width="100px">
					<col width="100px">
					<col width="300px">
					<col width="45px">
				</colgroup>
                <thead>
	                <tr>
	                	<td>序号</td>
	                    <td>Topic</td>
	                    <td data-toggle="tooltip" title="上一分钟生产的消息数量">生产量</td>
	                    <td data-toggle="tooltip" title="上一分钟消费的消息数量">消费量</td>
	                    <td data-toggle="tooltip" title="上一分钟生产的消息大小">生产大小</td>
	                    <td data-toggle="tooltip" title="上一分钟消费的消息大小">消费大小</td>
	                    <td>用途</td>
	                    <td>操作</td>
	                </tr>
                </thead>
                <tbody>
	                <#if !response.OK || !response.result.topicTrafficVOList??>
					     <tr>
		                    <td colspan="7"class="text-center" >
		                    	暂无数据
		                    </td>
		                <tr>
					<#else>
						<#list response.result.topicTrafficVOList as topicTrafficVO>
							<tr>
								<td>${(pagination.result.currentPage - 1)*pagination.result.numOfPage + topicTrafficVO_index + 1}</td>
		                    	<td><a title="查看详情" href="${request.contextPath}/user/topic/${topicTrafficVO.id}/detail">${topicTrafficVO.name}</a></td>
		                    	<#if topicTrafficVO.topicTraffic??>
		                    		<td>${topicTrafficVO.topicTraffic.countFormat}</td>
		                    	<#else>
		                    		<td>0</td>
								</#if>
		                    	<#if topicTrafficVO.consumerTraffic??>
		                    		<td>${topicTrafficVO.consumerTraffic.countFormat}</td>
		                    	<#else>
		                    		<td>0</td>
								</#if>
								<#if topicTrafficVO.topicTraffic??>
		                    		<td>${topicTrafficVO.topicTraffic.sizeFormat}</td>
		                    	<#else>
		                    		<td>0</td>
								</#if>
								<#if topicTrafficVO.consumerTraffic??>
		                    		<td>${topicTrafficVO.consumerTraffic.sizeFormat}</td>
		                    	<#else>
		                    		<td>0</td>
								</#if>
								<#if topicTrafficVO.own>
									<td class="edit-text">
										<#if topicTrafficVO.info?? && topicTrafficVO.info !=''> 
											<span style="cursor:pointer" data-toggle="tooltip" title="修改用途" onclick="updateTopicInfoShow(${topicTrafficVO.id}, '${topicTrafficVO.name}', '${topicTrafficVO.info}')">${topicTrafficVO.info!}</span>
				           				<#else>
			            					<span onclick="updateTopicInfoShow(${topicTrafficVO.id}, '${topicTrafficVO.name}', '${topicTrafficVO.info!}')" class="glyphicon glyphicon-pencil pointer" data-toggle="tooltip" title="添加用途" aria-hidden="true"></span>
				           				</#if>
									</td>
								<#else>
									<td>${topicTrafficVO.info!}</td>
								</#if>
								<td>
									<#if topicTrafficVO.own>
										<button type="button" class="btn btn-warning btn-xs" data-target="#deleteTopicModal${topicTrafficVO_index}" data-toggle="modal" title="删除${topicTrafficVO.name}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
										<!-- 删除topic -->
										<div id="deleteTopicModal${topicTrafficVO_index}" class="modal fade" tabindex="-1">
											<div class="modal-dialog" style="width:400px">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4 class="modal-title">删除确认</h4>
													</div>
													<form class="form-inline form-bordered form-row-stripped">
														<div class="modal-body">
																<div class="form-group text-center">
																	<span>确定删除 <b>${topicTrafficVO.name}</b> 吗?</span>
																</div>
														</div>
														<div class="modal-footer">
															<button type="button" data-dismiss="modal" class="btn" >取消</button>
															<button type="button" class="btn btn-primary" onclick="deleteTopic(${topicTrafficVO.id})" id="deleteTopicBtn${topicTrafficVO.id}">确定</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</#if>
								</td>
		                   	</tr>
						</#list>
					</#if>
                </tbody>
           </table>
    </div>
</div>

<ul id="pagination" data-url="${request.contextPath}/user/topic?topic=<#if response.OK>${response.result.queryTopic!}</#if>" style="float:right"></ul>
<#include "../inc/pagination.html">

<#--修改topic描述-->
<div id="updateTopicInfoModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b id="topicName"></b>描述更新</h4>
			</div>
			<form class="form-horizontal form-bordered form-row-stripped" id="addUserProducerModalForm">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-body">
								<div class="form-group">
									<label class="control-label col-md-3"> 用途: </label>
									<div class="col-md-8">
										<input type="hidden" id="topicId">
										<textarea id="topicInfo" rows="5" class="form-control"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn" >取消</button>
					<button type="button" class="btn btn-primary" id="updateTopicInfoBtn" onclick="updateTopicInfo()">确定</button>
				</div>
			</form>
		</div>
	</div>
</div> 

<script type="text/javascript">
	/**
	 * 查询topic
	 */
	function searchTopic(){
		window.location.href="${request.contextPath}/user/topic?"+$("#topicList").serialize();
	}
	
	$(function(){
		$("[data-toggle='tooltip']").tooltip({container: 'body'});
		$("[data-toggle='modal']").tooltip();
		
		// 初始化topic列表
  		<#if userInfo.user.type == 1>
	  		$("#topicSearchSelect").selectpicker({
	  			width : 300
	  	 	});
	  		initTopicList();
 	 	</#if>
		
		// select change
		$('#topicSearchSelect').on('changed.bs.select', function(e) {
			searchTopic();
		});
	});
	
	/**
	 * 删除topic
	 */
	function deleteTopic(tid){
		disable("deleteTopicBtn"+tid);
		$.post('${request.contextPath}/topic/delete/'+tid,
	        function(data){
	            if(data.status == 200){
	            	toastr.success("申请成功！请耐心等待！");  
	            	modalHide(3000, function(){
	            		enable("deleteTopicBtn"+tid);
	            	});
			    }else{
			    	toastr.error("申请失败！"+data.message);  
			    	enable("deleteTopicBtn"+tid);
			    }
        }, 'json');
	}
	
	function updateTopicInfoShow(tid, topicName, info){
		$("#topicId").val(tid);
		$("#topicName").html(topicName);
		$("#topicInfo").val(info);
		$('#updateTopicInfoModal').modal('show');
	}
	
	function updateTopicInfo(){
		if(!$("#topicInfo").val()){
			alert("请输入用途");
			return;
		}
		disable("updateTopicInfoBtn");
		$.post('${request.contextPath}/topic/update/info',
				{
					info: $("#topicInfo").val(),
					tid: $("#topicId").val()
				},
		        function(data){
		            if(data.status == 200){
		            	toastr.success("操作成功！即将刷新页面！");  	            	
		            	reload(2000);            	
				    }else{
				    	toastr.error("操作失败！"+data.message);  
				    	enable("updateTopicInfoBtn");
				    }
		    }, 'json');
	}
	
	/**
	 * 初始化topic下拉列表
	 */
	function initTopicList(){
		$.get('${request.contextPath}/topic/list',
		        function(data){
		            if(data.status == 200){
		            	var content = "";
		            	for(var i in data.result){
		            		var topic = data.result[i];
	            			content += "<option value='"+topic.name+"'>"+topic.name+"</option>";
		            	}
		        		$("#topicSearchSelect").html(content);
		        		$("#topicSearchSelect").selectpicker('refresh');
	        			<#if response.OK && response.result.queryTopic??>
			        		$('#' + componentId).selectpicker('val', '${response.result.queryTopic}');
	        			</#if>
				    }else{
				    	toastr.error("数据获取失败！"+data.message);  
				    }
	        }, 'json');
	}
</script>