<div class="card mt-2">
	<div class="card-header">
		<b>用户反馈列表:</b>
	</div>
	<div class="card-body table-responsive p-0">
		<table class="table table-striped" style="table-layout: fixed">
			<colgroup>
				<col width="75px">
				<col width="100px">
				<col width="300px">
				<col width="120px">
			</colgroup>
			<thead>
			<tr>
				<th>序号</th>
				<th>用户</th>
				<th>反馈内容</th>
				<th>创建日期</th>
			</tr>
			</thead>
			<tbody>
			<#if response.empty>
			<tr>
				<td colspan="4"class="text-center" >
					暂无数据
				</td>
			<tr>
				<#else>
				<#list response.result as feedback>
			<tr>
				<td>${feedback_index+1}</td>
				<td>${feedback.user.name!feedback.user.emailName}</td>
				<td>${feedback.content}</td>
				<td>${feedback.createDate?string("yyyy-MM-dd HH:mm:ss")}</td>
			</tr>
			</#list>
		</#if>
		</tbody>
		</table>
	</div>
</div>