<!-- 无集群 -->
<#if response.notOK>
<div class="card mt-2">
	<div class="card-body">
		<form class="form-inline" role="form">
			<div class="form-group">
				<label for="mqClusterSelect"> 集群: 暂无数据 </label>
			</div>
		</form>
	</div>
</div>
<#else>
<div class="card mt-2">
	<div class="card-body">
		<!-- 有集群 -->
		<div class="input-group">
			<label for="mqClusterSelect" class="col-form-label"> 集群: </label>
			<div class="ml-1 mr-1">
				<select name="type" id="mqClusterSelect" class="form-control selectpicker border">
					<#list clusters as cluster>
						<option value="${cluster.id}" <#if cluster.id == selectedCluster.id>selected="selected"</#if>>${cluster.name}</option>
					</#list>
				</select>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" title="新建Controller" onclick="addController()" data-target="#addControllerModal" data-toggle="modal"><span class="fas fa-plus"></span><span class="d-none d-lg-inline">Controller</span></button>
				<button type="button" class="btn btn-default" title="关联已有Controller到MQCloud中" data-target="#associateControllerModal" data-toggle="modal"><span class="fas fa-link"></span><span class="d-none d-lg-inline">Controller</span></button>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body table-responsive p-0">
		<table class="table table-hover table-striped text-nowrap">
			<colgroup>
				<col width="160px">
				<col width="100px">
				<col width="100px">
				<col width="100px">
				<col width="120px">
			</colgroup>
			<thead>
				<tr>
					<td>addr</td>
					<td>创建时间</td>
					<td data-toggle="tooltip" title="MQCloud会定时监控Controller是否存活">状态</td>
					<td>监控时间</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<#if response.empty>
					<tr class="text-center"><td colspan=5>暂无数据</td></tr>
				<#else>
					<#list response.result as controller>
						<tr>
							<td>${controller.addr}</td>
							<td>${controller.createTime?string("yyyy-MM-dd HH:mm:ss")}</td>
							<td>
								<#if controller.checkStatus == 2>
									<font style='font-weight:bold' color='red'>${controller.checkStatusDesc}</font>
								<#else>
									${controller.checkStatusDesc}
								</#if>
							</td>
							<td>
								<#if controller.checkTime??>
									${controller.checkTime?string("yyyy-MM-dd HH:mm:ss")}
								</#if>
							</td>
							<td>
								<#if controller.checkStatusOK>
								<button type="button" class="btn btn-sm btn-warning" title="kill Controller进程" data-target="#controllerOfflineModal" data-toggle="modal" onclick="offlineController('${controller.addr}');"><span>下线</span></button>
								<#else>
								<button id="controllerBtn${controller_index}" data-toggle="tooltip" type="button" class="btn btn-sm btn-success" onclick="startupController('${controller.ip}', ${controller.port}, '${controller.baseDir}', 'controllerBtn${controller_index}')">启动</button>
								</#if>
								<button type="button" class="btn btn-sm btn-danger" title="删除Controller地址" data-target="#controllerDeleteModal" data-toggle="modal" onclick="deleteController('${controller.addr}');"><span class="fas fa-trash-alt" aria-hidden="true"></span></button>
							</td>
						</tr>
					</#list>
				</#if>
			</tbody>
		</table>
	</div>
</div>

<!-- 新建Controller -->
<div id="addControllerModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">新建Controller</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="sw sw-justified" id="addNewController">
					<ul class="nav nav-progress">
						<li class="nav-item">
							<a class="nav-link default" href="#step-1">
								<div class="num">1</div>
								<div style="font-size: small; font-weight: bold">服务器选择</div>
								<span style="font-size: small;color: #0b2e13;">安装到哪</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link default" href="#step-2">
								<div class="num">2</div>
								<div style="font-size: small; font-weight: bold">JDK校验</div>
								<span style="font-size: small;color: #0b2e13;">校验jdk是否配置完成，版本要求>=1.8</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link default" href="#step-3">
								<div class="num">3</div>
								<div style="font-size: small; font-weight: bold">端口校验</div>
								<span style="font-size: small;color: #0b2e13;">检查端口是否被占用</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link default" href="#step-4">
								<div class="num">4</div>
								<div style="font-size: small; font-weight: bold">目录校验</div>
								<span style="font-size: small;color: #0b2e13;">检查安装目录是否被占用</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link default" href="#step-5">
								<div class="num">5</div>
								<div style="font-size: small; font-weight: bold">下载安装包</div>
								<span style="font-size: small;color: #0b2e13;">从仓库下载安装包到服务器/tmp下</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link default" href="#step-6">
								<div class="num">6</div>
								<div style="font-size: small; font-weight: bold">解压安装包</div>
								<span style="font-size: small;color: #0b2e13;">解压到安装目录下</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link default" href="#step-7">
								<div class="num">7</div>
								<div style="font-size: small; font-weight: bold">生成配置文件</div>
								<span style="font-size: small;color: #0b2e13;">生成mq.conf和run.sh</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link default" href="#step-8">
								<div class="num">8</div>
								<div style="font-size: small; font-weight: bold">启动</div>
								<span style="font-size: small;color: #0b2e13;">启动Controller</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link default" href="#step-9">
								<div class="num">9</div>
								<div style="font-size: small; font-weight: bold">完成</div>
								<span style="font-size: small;color: #0b2e13;">获取启动后的进程信息</span>
							</a>
						</li>
					</ul>
					<div class="tab-content"></div>
				</div>
				<form class="form-horizontal form-bordered form-row-stripped" id="controller">
					<input type="hidden" name="v" value="5">
					<input type="hidden" id="listenPort" name="listenPort" value="">
					<div class="form-body">
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3"> 服务器: </label>
					        <div class="col-md-8">
								<select id="controllerServerSelect" class="form-control selectpicker border" title="请选择" data-live-search-placeholder="搜索" name="ip" data-live-search="true"></select>
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3"> jvm内存: </label>
							<div class="col-md-8">
								<input type="text" id="jvmOptExt" name="jvmOptExt" value="" placeholder="-Xms4g -Xmx4g -Xmn2g" data-toggle="tooltip" title="不填将会保持默认配置" class="form-control" />
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3" data-toggle="tooltip" title="Controller在服务器上的绝对路径(包含Controller自身)"> 安装路径: </label>
					        <div class="col-md-8">
								<input type="text" id="dir" name="dir" value="/opt/mqcloud/controller" class="form-control"/>
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3"> 组名: </label>
							<div class="col-md-8">
								<input type="text" id="controllerDLegerGroup" name="controllerDLegerGroup" data-toggle="tooltip" title="同属一个DLedger组需要一致" placeholder="group1" value="" class="form-control" />
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3"> 节点id: </label>
							<div class="col-md-8">
								<input type="text" id="controllerDLegerSelfId" name="controllerDLegerSelfId" data-toggle="tooltip" title="DLedger组内各个节点要唯一" placeholder="n0" value="" class="form-control" />
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3"> 组员信息: </label>
							<div class="col-md-8">
								<input type="text" id="controllerDLegerPeers" data-toggle="tooltip" title="DLedger组内成员节点和端口信息，同一个组内的各节点配置要一致。格式:{节点id}-{ip:port};{节点id}-{ip:port};" name="controllerDLegerPeers" placeholder="n0-127.0.0.1:19876;n1-127.0.0.2:19876;" value="" class="form-control" />
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3" data-toggle="tooltip" title="controller数据存储位置"> 数据存储路径: </label>
							<div class="col-md-8">
								<input type="text" id="controllerStorePath" name="controllerStorePath" value="/opt/mqcloud/controller/data" class="form-control" readonly="readonly"/>
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3"> 扫描存活间隔: </label>
							<div class="col-md-8">
								<div class="input-group">
									<input type="text" id="scanNotActiveBrokerInterval" data-toggle="tooltip" title="扫描Broker是否存活的时间间隔" name="scanNotActiveBrokerInterval" value="5000" class="form-control"/>
									<span class="input-group-append">
										<span class="input-group-text">毫秒</span>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-md-3"> 允许从SyncStateSet以外选主: </label>
							<div class="col-md-8 checkbox-inline">
								<label>
									<input type="radio" name="enableElectUncleanMaster" value="false" checked> 否
								</label>&nbsp&nbsp;
								<label>
									<input type="radio" name="enableElectUncleanMaster" value="true" data-toggle="tooltip" title="允许后可能会选取数据落后的副本为主而丢失消息"> 是
								</label>
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-md-3"> broker角色变更通知: </label>
							<div class="col-md-8 checkbox-inline">
								<label>
									<input type="radio" name="notifyBrokerRoleChanged" value="false"> 否
								</label>&nbsp&nbsp;
								<label>
									<input type="radio" name="notifyBrokerRoleChanged" data-toggle="tooltip" title="当broker副本组上角色发生变化时主动通知" value="true" checked> 是
								</label>
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3"> 进程信息: </label>
					        <div class="col-md-8">
								<textarea id="controllerProgramInfo" type="text" rows="1" class="form-control" readonly></textarea>
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-3"> 提示: </label>
					        <div class="col-md-8">
								<div class="form-control-static">如果安装遇到错误警告，请登录服务器解决后再<b>继续</b>执行</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="cid" value="${selectedCluster.id}">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="installBtn" onclick="install('controller')"><span id="controllerInstall">一键安装</span></button>
			</div>
		</div>
	</div>
</div>

<!-- 下线 -->
<div id="controllerOfflineModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">确定要下线Controller?</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal form-bordered form-row-stripped" id="controllerOfflineForm">
					<div class="form-body">
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-1"> 地址: </label>
					        <div class="col-md-10">
								<input type="text" name="addr" id="controllerAddr" class="form-control" readonly />
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-1"> 进程: </label>
					        <div class="col-md-10">
								<textarea id="ctrProgram" type="text" rows="10" class="form-control" readonly></textarea>
							</div>
						</div>
					</div>
					<input type="hidden" name="cid" value="${selectedCluster.id}">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
				<button type="button" class="btn btn-primary" onclick="controllerOffline()" id="controllerOfflineBtn">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- 关联Controller -->
<div id="associateControllerModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">关联已有的Controller</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal form-bordered form-row-stripped" id="associateControllerForm">
					<div class="form-body">
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-2"> 地址: </label>
					        <div class="col-md-6">
								<input type="text" name="addr" class="form-control" placeholder="ip:port" />
							</div>
						</div>
					</div>
					<input type="hidden" name="cid" value="${selectedCluster.id}">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
				<button type="button" class="btn btn-primary" onclick="associateController()" id="associateControllerBtn">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- 删除 -->
<div id="controllerDeleteModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">确定要删除Controller记录?</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal form-bordered form-row-stripped" id="controllerDeleteForm">
					<div class="form-body">
						<div class="form-group row justify-content-center">
							<label class="col-form-label col-md-2"> 地址: </label>
					        <div class="col-md-6">
								<input type="text" name="addr" id="controllerAddrDelete" class="form-control" readonly />
							</div>
						</div>
					</div>
					<input type="hidden" name="cid" value="${selectedCluster.id}">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
				<button type="button" class="btn btn-primary" onclick="controllerDelete()" id="controllerDeleteBtn">确定</button>
			</div>
		</div>
	</div>
</div>

<script>

$(function () {
	$('#addNewController').smartWizard({
		selected: -1,
		theme: 'dots',
		justified: true,
		autoAdjustHeight: false,
		enableUrlHash: false,
		backButtonSupport: false, // Enable the back button support
		toolbar: {
			position: 'none'
		},
		anchor: {
			enableNavigation: false,
		}
	});
});
	
var installId = "";
var method = "";
/**
 * 安装Controller
 */
function install(id){
	installId = id;
	active_smartwizard('addNewController', 0)
	if(!$('#'+id+'ServerSelect').val()){
		alert("请先选择服务器");
		return;
	}
	if (!$("#controllerDLegerGroup").val()) {
		alert("请填写组名");
		return;
	}
	if (!$("#controllerDLegerSelfId").val()) {
		alert("请填写节点id");
		return;
	}
	if (!$("#controllerDLegerPeers").val()) {
		alert("请填写组员信息");
		return;
	}
	if($('#'+id+'Install').html() == "继续"){
		setTimeout(method+'()', 500);
	} else {
		validateJDK();
	}
	disableStep("installBtn");
}
/**
 * 继续
 */
function goOn(m){
	$("#"+installId+"Install").html("继续");
	active("installBtn");
	method = m;
}
/**
 * 校验jdk
 */
function validateJDK(){
	active_smartwizard('addNewController', 1);
	$.get('${request.contextPath}/admin/deploy/check/jdk',
		$("#"+installId).serialize(),
        function(data){
            if(data.status == 200){
            	var version = data.result.substring(0, 3);
            	if(version >= 1.8){
            		complete_smartwizard('addNewController', 1);
            		// 校验端口
            		setTimeout('checkPort()', 1000);
            	} else {
            		alert("jdk环境校验失败，最低为1.8，目前版本为："+data.result);
            		warn_smartwizard('addNewController', 1);
            		goOn("validateJDK");
            	}
		    }else{
		    	toastr.error("数据获取失败！"+data.message);  
		    	warn_smartwizard('addNewController', 1);
		    	goOn("validateJDK");
		    }
       }, 'json');
}
/**
 * 端口校验
 */
function checkPort(){
	var peers = $('#controllerDLegerPeers').val();
	var selfId = $("#controllerDLegerSelfId").val();
	var port = -1;
	var peerArray = peers.split(";");
	for (var i = 0; i < peerArray.length; i++) {
		var array = peerArray[i].split("-");
		if (selfId == array[0]) {
			port = array[1].split(":")[1];
			break;
		}
	}
	if (port == -1) {
		goOn("checkPort");
		alert("请填写正确的组员信息");
		return;
	}
	$("#listenPort").val(port);
	active_smartwizard('addNewController', 2);
	$.post('${request.contextPath}/admin/deploy/check/port',
		$("#"+installId).serialize(),
        function(data){
            if(data.status == 200){
            	complete_smartwizard('addNewController', 2);
            	// 校验目录
            	setTimeout('checkDir()', 1000);
		    } else if(data.status == 500){
		    	toastr.error("端口被该程序占用："+data.result);  
		    	warn_smartwizard('addNewController', 2);
		    	goOn("checkPort");
		    } else {
		    	toastr.error("校验失败！"+data.message);  
		    	warn_smartwizard('addNewController', 2);
		    	goOn("checkPort");
		    }
       }, 'json');
}
/**
 * 目录校验
 */
function checkDir(){
	active_smartwizard('addNewController', 3);
	$.post('${request.contextPath}/admin/deploy/check/dir',
		$("#"+installId).serialize(),
        function(data){
            if(data.status == 200){
            	complete_smartwizard('addNewController', 3);
            	// 下载文件
        		setTimeout('scp()', 1000);
		    } else {
		    	toastr.error("校验失败！"+data.message);  
		    	warn_smartwizard('addNewController', 3);
		    	goOn("checkDir");
		    }
       }, 'json');
}
/**
 * scp
 */
function scp(){
	active_smartwizard('addNewController', 4);
	$.post('${request.contextPath}/admin/deploy/scp',
		$("#"+installId).serialize(),
        function(data){
            if(data.status == 200){
            	complete_smartwizard('addNewController', 4);
            	// 解压文件
        		setTimeout('unzip()', 1000);
		    } else {
		    	toastr.error("下载失败！"+data.message);  
		    	warn_smartwizard('addNewController', 4);
		    	goOn("scp");
		    }
       }, 'json');
}
/**
 * 解压
 */
function unzip(){
	active_smartwizard('addNewController', 5);
	$.post('${request.contextPath}/admin/deploy/unzip',
		$("#"+installId).serialize(),
        function(data){
            if(data.status == 200){
            	complete_smartwizard('addNewController', 5);
            	// 配置
        		setTimeout('config()', 1000);
		    } else {
		    	toastr.error("解压失败！"+data.message);  
		    	warn_smartwizard('addNewController', 5);
		    	goOn("unzip");
		    }
       }, 'json');
}
/**
 * 配置
 */
function config(){
	active_smartwizard('addNewController', 6);
	$.post('${request.contextPath}/admin/deploy/config/' + installId,
		$("#"+installId).serialize(),
        function(data){
            if(data.status == 200){
            	complete_smartwizard('addNewController', 6);
	        	setTimeout('startup()', 1000);
		    } else {
		    	toastr.error("配置失败！"+data.message);  
		    	warn_smartwizard('addNewController', 6);
		    	goOn("config");
		    }
       }, 'json');
}
/**
 * 启动实例
 */
function startup(){
	active_smartwizard('addNewController', 7);
	$.post('${request.contextPath}/admin/controller/startup',
		$("#"+installId).serialize(),
        function(data){
            if(data.status == 200){
            	complete_smartwizard('addNewController', 7);
            	var time = 5000;
            	// 检测进程
        		setTimeout('checkProgram()', time);
		    } else {
		    	toastr.error("启动失败！"+data.message);  
		    	warn_smartwizard('addNewController', 7);
		    	goOn("startup");
		    }
       }, 'json');
}
/**
 * 启动实例
 */
function startupController(ip, port, dir, btnId){
	disable(btnId);
	post('${request.contextPath}/admin/controller/startup', {
		ip: ip,
		listenPort: port,
		dir: dir,
		cid: ${selectedCluster.id}
	}, function (data) {
		if (data.status == 200) {
			toastr.success("启动成功！即将刷新页面！");
			reload(3000);
		} else {
			toastr.error("启动失败！" + data.message);
			enable(btnId);
		}
	}, 'json');
}
/**
 * 检测启动的进程
 */
function checkProgram(){
	active_smartwizard('addNewController', 8);
	$.post('${request.contextPath}/admin/deploy/check/program',
		$("#"+installId).serialize(),
        function(data){
            if(data.status == 200){
            	$("#"+installId+"ProgramInfo").attr("rows", 5).html(data.result);
            	complete_smartwizard('addNewController', 8);
            	alert("恭喜你，安装完成啦！");
            	$("#"+installId+"Install").parent().attr("disabled", "disabled");
		    } else {
		    	toastr.error("检查失败！"+data.message);  
		    	warn_smartwizard('addNewController', 8);
		    	goOn("checkProgram");
		    }
       }, 'json');
}
function addController(){
	initServerList("controllerServerSelect");
}
/**
 * 初始化server下拉列表
 */
function initServerList(componentId){
	$.get('${request.contextPath}/admin/server/all',
	        function(data){
	            if(data.status == 200){
	            	var content = "";
	            	for(var i in data.result){
	            		var server = data.result[i];
	            		content += "<option value='"+server.ip+"'>"+server.ip+"</option>";
	            	}
	        		$("#"+componentId).html(content);
	        		$("#"+componentId).selectpicker('refresh');
			    }else{
			    	toastr.error("数据获取失败！"+data.message);  
			    }
        }, 'json');
}
/**
 * 获取进程信息
 */
function program(addr, programId){
	$.get('${request.contextPath}/admin/deploy/program',
			{
				addr: addr
			},
	        function(data){
				$("#"+programId).html(data.result);
        }, 'json');
}

function offlineController(addr){
	program(addr, "ctrProgram");
	$("#controllerAddr").val(addr);
}

function deleteController(addr){
	$("#controllerAddrDelete").val(addr);
}
function controllerOffline(){
	disable("controllerOfflineBtn");
	$.post('${request.contextPath}/admin/controller/offline',
			$("#controllerOfflineForm").serialize(),
			function(data){
				if(data.status == 200){
		        	toastr.success("下线成功, 系统将自动刷新");
		        	reload(3000);
			    }else{
			    	toastr.error("下线失败！"+data.message);
			    	enable("controllerOfflineBtn");
			    }
			}, 'json');
}
function controllerDelete(){
	disable("controllerDeleteBtn");
	$.post('${request.contextPath}/admin/controller/delete',
			$("#controllerDeleteForm").serialize(),
			function(data){
				if(data.status == 200){
		        	toastr.success("删除成功, 系统将自动刷新");
		        	reload(3000);
			    }else{
			    	toastr.error("删除失败！"+data.message);
			    	enable("controllerDeleteBtn");
			    }
			}, 'json');
}
$('#mqClusterSelect').on('change',function(){
	window.location.href = "${request.contextPath}/admin/controller/list?cid="+$(this).val();
});

$(function(){
	// ns server select event
	$('#controllerServerSelect').on('shown.bs.select', function(e) {
		active("controllerServer");
	});
	$('#controllerServerSelect').on('hidden.bs.select', function(e) {
		if(!$('#controllerServerSelect').val()){
			disableStep("controllerServer");
		}
	});
	$('#controllerServerSelect').on('changed.bs.select', function(e) {
		complete("controllerServer");
	});
	$("#dir").bind('input propertychange', function () {
		$("#controllerStorePath").val($("#dir").val() + "/data");
	});
});

function warn(id){
	$("#"+id).addClass("warn");
}
function disableStep(id){
	$("#"+id).removeClass("active").addClass("disabled");
}
function active(id){
	$("#"+id).removeClass("disabled").removeClass("warn").addClass("active");
}
function complete(id){
	$("#"+id).removeClass("active").removeClass("warn").addClass("complete");
}
function active_smartwizard(content, index) {
	$('#'+ content).smartWizard("goToStep", index);
}

function complete_smartwizard(content, index) {
	$('#'+ content).smartWizard("unsetState", [index], "warning");
	$('#'+ content).smartWizard("setState", [index], "done");
}

function warn_smartwizard(content, index) {
	$('#'+ content).smartWizard("setState", [index], "warning");
}

function disable_smartwizard(content, index) {
	$('#'+ content).smartWizard("setState", [index], "disable");
}
</script>
</#if>

<script>
$("[data-toggle='modal']").tooltip();

function associateController(){
	disable("associateControllerBtn");
	$.post('${request.contextPath}/admin/controller/add',
		$("#associateControllerForm").serialize(),
        function(data){
            if(data.status == 200){
				toastr.success("关联成功，将自动刷新");  
				reload(3000);
		    }else{
		    	toastr.error("关联失败！"+data.message);
		    	enable("associateControllerBtn");
		    }
        }, 'json');
}
</script>