<div class="card mt-2">
	<div class="card-body">
		<div class="input-group">
			<label for="userGroupSelect" class="col-form-label"> 用户组: </label>
			<div class="ml-1 mr-1" style="min-width: 9em;">
				<select name="type" id="userGroupSelect" class="form-control selectpicker border">
					<option value="-1" <#if RequestParameters.gid == "-1">selected="selected"</#if>>全部</option>
					<option value="0" <#if RequestParameters.gid == "0">selected="selected"</#if>>未分组</option>
					<#if userGroupList??>
						<#list userGroupList as userGroup>
							<option value="${userGroup.id}" <#if userGroup.id == RequestParameters.gid?number>selected="selected"</#if>>${userGroup.name}</option>
						</#list>
					</#if>
				</select>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" title="添加用户" data-target="#addUserModal" data-toggle="modal"><span class="fas fa-user-plus"></span><span class="d-none d-lg-inline">添加用户</span></button>
				<button type="button" class="btn btn-default" title="用户组管理" data-target="#modifyUserGroupModal" data-toggle="modal"><span class="fas fa-users-cog"></span><span class="d-none d-lg-inline">用户组管理</span></button>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body table-responsive p-0">
		<table class="table table-head-fixed table-striped" style="word-break:break-all; word-wrap:break-all;table-layout: fixed">
			<colgroup>
				<col width="80px">
				<col width="100px">
				<col width="150px">
				<col width="100px">
				<col width="100px">
				<col width="80px">
				<col width="80px">
				<col width="100px">
				<col width="120px">
				<col width="120px">
			</colgroup>
			<thead>
				<tr>
					<th>序号</th>
					<th>姓名</th>
					<th>邮箱</th>
					<th>手机</th>
					<th>手机预警</th>
					<th>角色</th>
					<th>用户组</th>
					<th>创建时间</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<#if response.empty>
					 <tr>
						<td colspan="10" class="text-center">
							暂无数据
						</td>
					<tr>
				<#else>
					<#list response.result as user>
						<tr>
							<td>${user_index+1}</td>
							<td>${user.name!}</td>
							<td>${user.email}</td>
							<td>${user.mobile!}</td>
							<td><#if user.receivePhoneNotice()>开启<#else>关闭</#if></td>
							<td><#if user.type == 0>普通用户<#else>管理员</#if></td>
							<td>${user.groupName!}</td>
							<td>${user.createDate?string("yyyy-MM-dd")}</td>
							<td>${user.updateTime?string("yyyy-MM-dd HH:mm:ss")}</td>
							<td>
								<button data-toggle='tooltip' title="重置用户密码" type="button"
									onclick="updateUserPassword('${user.name!user.email}', ${user.id})" class="btn-xs btn-info">
									<span class="fas fa-user-edit" aria-hidden="true"></span>
								</button>
								&nbsp;
								<#if user.type == 1>
									<span data-toggle='tooltip' title="是否接收MQCloud发送的各种报警，审批等通知">
										<input onclick="monitor(this,${user.id})" <#if user.receiveNotice == 1>checked="checked"</#if> type="checkbox" style="vertical-align: -2px">
									</span>
								</#if>
							</td>
						</tr>
					</#list>
				</#if>
			</tbody>
		</table>
	</div>
</div>
<!-- 添加用户 -->
<div id="addUserModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">添加用户</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<form class="form-horizontal form-bordered form-row-stripped" id="addUserForm">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-body">
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 姓 名: </label>
									<div class="col-md-5">
										<input type="text" id="nameInput" name="name" value="" placeholder="姓名" class="form-control" />
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 邮 箱: </label>
									<div class="col-md-5">
										<input type="text" id="emailInput" name="email" value="" placeholder="邮箱" class="form-control" />
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 手 机: </label>
									<div class="col-md-5">
										<input type="text" id="mobileInput" name="mobile" value="" placeholder="手机" class="form-control" />
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 密 码: </label>
									<div class="col-md-5">
										<input type="password" id="password" name="password" value="" placeholder="密码" class="form-control" />
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 确认密码: </label>
									<div class="col-md-5">
										<input type="password" id="password2" value="" placeholder="密码" class="form-control" />
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 角 色: </label>
									<div class="col-md-5">
										<select class="selectpicker border form-control" name="type" >
											<option value="0" selected>普通用户</option>
											<option value="1">管理员</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
					<button type="button" class="btn btn-primary" id="addUserBtn" onclick="addUser()">确定</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 密码重置 -->
<div id="updateUserPasswordModal" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><b id="userNameUpdateInput"></b>&nbsp;密码重置</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<form class="form-horizontal form-bordered form-row-stripped">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-body">
								<input type="hidden" id="updateUserIdInput"/>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-3"> 新密码: </label>
									<div class="col-md-8">
										<input type="password" id="passwordNew" value="" placeholder="密码" class="form-control" />
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-3"> 确认密码: </label>
									<div class="col-md-8">
										<input type="password" id="passwordNew2" value="" placeholder="密码" class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
					<button type="button" class="btn btn-primary" id="updateUserPasswordBtn" onclick="updateUserPasswordCommit()">确定</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- 用户组管理 -->
<div id="modifyUserGroupModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">用户组管理</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-content" style="height:500px;overflow-y:scroll;overflow-x:hidden;">
				<div class="row" style="padding-left:16px;">
					<div class="col-sm-4 mt-2" style="padding-left:0px;">
						<ul class="list-group" style="margin-bottom:0px;">
							<li class="list-group-item list-group-item-info btn-info"><h5 class="li">用户组<span data-toggle='tooltip' title="新增用户组" onclick="updateUserGroupShow(0)" style="float:right;cursor:pointer;" class="fas fa-plus" aria-hidden="true"></span></h5></li>
						</ul>
						<ul class="list-group" id="userGroup">
							<li class="list-group-item"><p class="list-group-item-text">暂无数据</p></li> 
						</ul>
					</div>
					<div class="col-sm-4 mt-2" style="padding-left:0px;">
						<ul class="list-group" style="margin-bottom:0px;">
							<li class="list-group-item list-group-item-info btn-info btn-info"><h5 class="list-group-item-heading">组员</h5></li>
						</ul>
						<ul class="list-group" id="groupMembers">
							<li class="list-group-item"><p class="list-group-item-text">暂无数据</p></li> 
						</ul>
					</div>
					<div class="col-sm-4 mt-2" style="padding-left:0px;">
						<ul class="list-group" style="margin-bottom:0px;">
							<li class="list-group-item list-group-item-info btn-info"><h5 class="list-group-item-heading">用户</h5></li>
							<li class="list-group-item"><input class="form-control" id="userSearch" type="text" placeholder="搜索"></li> 
						</ul>
						<ul class="list-group" id="users">
							<li class="list-group-item"><p class="list-group-item-text">暂无数据</p></li> 
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 增加用户组 -->
<div id="updateUserGroupModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><span id="userGroupAction"></span>用户组</h4>
				<button type="button" class="close" onclick="hideMsgSearchModal()" aria-hidden="true">&times;</button>
			</div>
            <form class="form-horizontal form-bordered form-row-stripped" id="updateUserGroupForm" onsubmit="return false">
            	<input type="hidden" id="userGroupId" name="id" value="0">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-body">
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-2"> 用户组: </label>
									<div class="col-md-5">
										<input type="text" id="userGroupInput" name="name" value="" placeholder="组名" class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
					<button type="button" class="btn btn-primary" id="updateUserGroupBtn" onclick="updateUserGroup()">确定</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
function monitor(t, uid){
	var flag = 0;
	if($(t).is(':checked')){
		flag = 1;
	}
	$.post('${request.contextPath}/admin/user/monitor',
		{
			uid: uid,
			flag: flag
		},
        function(data){
            if(data.status == 200){
            	toastr.success("设置成功！");  
		    }else{
		    	toastr.error("设置失败！"+data.message);  
		    }
    }, 'json');
}
$(function(){
	$('#modifyUserGroupModal').on('shown.bs.modal', function() {
		getAllGroup();
	});
	$("#userSearch").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#users li").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	});
});
$('#userGroupSelect').on('change',function(){
	window.location.href = "${request.contextPath}/admin/user/list?gid="+$(this).val();
});
// 添加用户
function addUser(){
	if(!$("#emailInput").val()) {
		alert("邮箱不能为空");
		return;
	}
	if(!$("#password").val() || $("#password").val() != $("#password2").val()) {
		alert("两次密码不一致");
		return;
	}
	$.post('${request.contextPath}/admin/user/add',
		$("#addUserForm").serialize(),
        function(data){
            if(data.status == 200){
				toastr.success("添加成功，系统将自动刷新");  
				reload(3000);
		    }else{
		    	toastr.error("添加失败！"+data.message);  
		    }
        }, 'json');
}
//编辑用户
function updateUserPassword(name, uid){
	$("#passwordNew").val('');
	$("#passwordNew2").val('');
	$("#userNameUpdateInput").text(name);
	$("#updateUserIdInput").val(uid);
	$("#updateUserPasswordModal").modal('show');
}
//发送更新请求
function updateUserPasswordCommit(){
	if(!$("#passwordNew").val() || $("#passwordNew").val() != $("#passwordNew2").val()) {
		alert("两次密码不一致");
		return;
	}
	disable("updateUserPasswordBtn");
	$.post('${request.contextPath}/admin/user/resetPassword',
			{
				uid : $("#updateUserIdInput").val(),
				password : $("#passwordNew").val()
			},
	        function(data){
	            if(data.status == 200){
					toastr.success("操作成功，系统将自动刷新");  
					reload(3000);
			    }else{
			    	toastr.error("操作失败！"+data.message);  
			    	enable("updateUserPasswordBtn");
			    }
	        }, 'json');
}
// 获取用户组
function getAllGroup(){
	$.get('${request.contextPath}/admin/user/group/list',
       function(data){
		$("#userGroup").html(data);
		$("#userGroup a:first-child").click();
     });
}
// 获取组员
function getGroupMember(gid){
	$("#A"+gid).addClass("active").siblings().removeClass("active");
	$.get('${request.contextPath}/admin/user/group/members',
		{
			gid : gid
		},
        function(data){
			$("#groupMembers").html(data);
        });
	getNoGroupUsers();
}
// 获取未分组用户
function getNoGroupUsers(){
	$.get('${request.contextPath}/admin/user/group/members?gid=0',
        function(data){
			$("#users").html(data);
        });
}
// 显示更新用户组
function updateUserGroupShow(id){
	$("#userGroupId").val(id);
	if(id > 0){
		$("#userGroupAction").html("修改");
		$("#userGroupInput").val($("#userGroup" + id).html());
	} else {
		$("#userGroupAction").html("新增");
		$("#userGroupInput").val("");
	}
	$("#updateUserGroupModal").modal('show');
}
// 更新用户组
function updateUserGroup(){
	disable("updateUserGroupBtn");
	$.post('${request.contextPath}/admin/user/group/update',
		$("#updateUserGroupForm").serialize(),
        function(data){
	    	enable("updateUserGroupBtn");
            if(data.status == 200){
				var gid = $("#userGroupId").val();
				if(gid == 0){
					toastr.success("操作成功，系统将自动刷新");  
					modalHideId("updateUserGroupModal", 1000, 'getAllGroup');
				} else {
					toastr.success("操作成功");
					modalHideId("updateUserGroupModal", 1000);
					$("#userGroup" + $("#userGroupId").val()).html($("#userGroupInput").val());
				}
		    }else{
		    	toastr.error("操作失败！"+data.message);  
		    }
        }, 'json');
}
// 从用户组移除
function removeFromUserGroup(uid){
	var gid = $("#userGroup a.active").attr("data-id");
	if(!gid){
		alert("请先选择用户组");
		return;
	}
	$.post('${request.contextPath}/admin/user/update/group',
		{
			uid: uid,
			gid: 0
		},
        function(data){
            if(data.status == 200){
				toastr.success("操作成功");
				getGroupMember(gid);
		    }else{
		    	toastr.error("操作失败！"+data.message);  
		    }
        }, 'json');
}
// 添加到用户组
function addToUserGroup(uid){
	var gid = $("#userGroup a.active").attr("data-id");
	if(!gid){
		alert("请先选择用户组");
		return;
	}
	$.post('${request.contextPath}/admin/user/update/group',
		{
			uid: uid,
			gid: gid
		},
        function(data){
            if(data.status == 200){
				toastr.success("操作成功");
				getGroupMember(gid);
		    }else{
		    	toastr.error("操作失败！"+data.message);  
		    }
        }, 'json');	
}
</script>
