<div id="loginModal" class="modal fade" tabindex="-1" data-width="400" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">您好，欢迎使用MQCloud</h4>
			</div>

			<!-- 用户信息补全 -->
			<form class="form-horizontal form-bordered form-row-stripped" id="loginForm">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-body">
								<div class="form-group">
									<label class="control-label col-md-4"> 邮箱: </label>
									<div class="col-md-5">
										<input type="text" id="email" name="email" placeholder="邮箱" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-4"> 密码: </label>
									<div class="col-md-5">
										<input type="password" name="password" id="password"
											value="" placeholder="密码"
											class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
				<#if !response.result?? || (response.result?? && response.result == 1)>
					<button type="button" class="btn btn-info" onclick="register()">注册</button>
				</#if>
					<button type="button" class="btn btn-primary" onclick="login()">登录</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
$(function(){
	$("#loginModal").modal("show");
})
function login(){
	if(!$("#email").val()) {
		alert("邮箱不能为空");
		return;
	}
	if(!$("#password").val()) {
		alert("密码不能为空");
		return;
	}
	$.post('${request.contextPath}/login/check',
		$("#loginForm").serialize(),
        function(data){
            if(data.status == 200){
				toastr.success("登录成功，系统将自动刷新");  
				setTimeout("toTopicList()", 2000);
		    }else{
		    	toastr.error("登录失败！"+data.message);  
		    }
        }, 'json');
}
function toTopicList(){
	var redirect = getQueryString("redirect");
	if(redirect){
		window.location.href = redirect;
	} else {
		window.location.href = "${request.contextPath}/user/topic";
	}
}
function register(){
	window.location.href= "${request.contextPath}/register";
}
</script>