<?xml version="1.0" encoding="UTF-8"?>
<!-- Example LOGBACK Configuration File http://logback.qos.ch/manual/configuration.html -->
<configuration scan="true" scanPeriod="30 seconds">
	<property name="LOG_PATH" value="${PROJECT_DIR}/logs" />
	<springProfile name="online,online-sohu">
		<appender name="stdout" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_PATH}/stdout.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/otherdays/stdout.log.%d{yyyy-MM-dd}</fileNamePattern>
				<maxHistory>40</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %logger{50}-%L - %msg%n</pattern>
			</encoder>
		</appender>
		<!-- rocketmq log -->
		<appender name="RocketmqClientAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_PATH}/rocketmq.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/otherdays/rocketmq.log.%d{yyyy-MM-dd}
				</fileNamePattern>
				<maxHistory>40</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
				<charset class="java.nio.charset.Charset">UTF-8</charset>
			</encoder>
		</appender>
		<logger name="com.sohu.tv.index.cloud.metrics" level="warn" additivity="false">
	        <appender-ref ref="stdout" />
	    </logger>
	   	<logger name="com.netflix.util.concurrent.ShutdownEnabledTimer" level="warn" additivity="false">
	        <appender-ref ref="stdout" />
	    </logger>
		<root level="INFO">
			<appender-ref ref="stdout" />
		</root>
	</springProfile>

	<springProfile name="local,test-sohu,local-sohu,test-online-sohu">
		<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %logger{50}-%L - %msg%n</pattern>
			</encoder>
		</appender>
		<!-- show sql -->
		<logger name="com.sohu.tv.mq.cloud.dao" level="DEBUG" additivity="false">
			<appender-ref ref="stdout" />
		</logger>
		<root level="INFO">
			<appender-ref ref="stdout" />
		</root>
	</springProfile>
</configuration>