<div class="table-responsive p-0 bg-white">
<table class="table table-bordered text-nowrap" style="margin: 0px">
	<thead>
		<tr>
			<td colspan=5 align="center">最近一小时流量统计</td>
		</tr>
		<tr>
			<td rowspan=2></td>
			<td colspan=2>生产</td>
			<td colspan=2>消费</td>
		</tr>
		<tr>
			<td>数量</td>
			<td>大小</td>
			<td>数量</td>
			<td>大小</td>
		</tr>
	</thead>
	<tbody>
		<#if response.OK>
			<tr>
				<td>平均/分钟</td>
				<td>${response.result.avgPutCountFormat}</td>
				<td>${response.result.avgPutSizeFormat}</td>
				<td>${response.result.avgGetCountFormat}</td>
				<td>${response.result.avgGetSizeFormat}</td>
			</tr>
			<tr>
				<td>峰值/分钟</td>
				<td>${response.result.putCountFormat}</td>
				<td>${response.result.putSizeFormat}</td>
				<td>${response.result.getCountFormat}</td>
				<td>${response.result.getSizeFormat}</td>
			</tr>
		<#else>
			<tr><td colspan=5 align="center">暂无数据</td></tr>
		</#if>
	</tbody>
</table>
</div>