<#if response.notOK>
	<div class="text-center">异常数据</div>
<#else>
	<div class="form-group row">
		<label class="col-form-label col-md-3"> Topic: </label>
		<div class="col-md-7">
			<input type="text" value="${response.result.topic}" readonly="readonly" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-md-3"> 消费者: </label>
		<div class="col-md-7">
			<input type="text" value="${response.result.consumer}" readonly="readonly" class="form-control" >
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-md-3"> 关联用户: </label>
		<div class="col-md-7">
			<input type="text" value="${response.result.user}" readonly="readonly" class="form-control" >
		</div>
	</div>
</#if>