<#if response.notOK>
<div class="modal-body">
	<div class="form-body">
		<div class="form-group">
			<div>异常数据</div>
		</div>
	</div>
</div>
<#else>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="form-body">
				<div class="form-group">
					<label class="control-label col-md-3"> Topic: </label>
			        <div class="col-md-7">
						<input type="text" value="${response.result.topic}" readonly="readonly" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 生产者: </label>
					<div class="col-md-7">
						<input type="text" value="${response.result.producer}" readonly="readonly" class="form-control" >
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 关联用户: </label>
					<div class="col-md-6">
						<input type="text" value="${response.result.user}" readonly="readonly" class="form-control" >
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</#if>