<#if response.notOK>
    <div class="text-center">异常数据</div>
<#else>
	<div class="form-group row">
		<label class="col-md-2"> 关联用户: </label>
		<div class="col-md-10">
			<#if response.result.userList??>
				<div class="form-control-static">
				<#list response.result.userList as user>
					<#if user_index != 0>
						,
					</#if>
					${user.name!user.emailName}
				</#list>
				</div>
			<#else>
				<input type="text" value="暂无数据" readonly="readonly" class="form-control" />
			</#if>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-md-2"> 关联资源:</label>
		<div class="col-md-10">
			<div class="card">
				<div class="card-body table-responsive p-0">
					<table class="table table-hover text-nowrap">
						<thead>
							<tr>
								<th>序号</th>
								<th>Topic</th>
								<th>角色</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<#list response.result.topicInfoVoList as topicInfoVO>
								<tr>
									<td rowspan="${topicInfoVO.producerList?size+topicInfoVO.consumerList?size+1}">${topicInfoVO_index + 1}</td>
									<td rowspan="${topicInfoVO.producerList?size+topicInfoVO.consumerList?size+1}">${topicInfoVO.topic.name}</td>
								</tr>
								<#list topicInfoVO.producerList as userProducer>
									<tr>
										<td>生产者</td>
										<td>${userProducer.producer}</td>
									</tr>
								</#list>
								<#list topicInfoVO.consumerList as consumer>
									<tr>
										<td>消费者</td>
										<td>${consumer.name}</td>
									</tr>
								</#list>
							</#list>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</#if>