<#if response.notOK>
    <div class="text-center">异常数据</div>
<#else>
	<div class="form-group row">
		<label class="col-form-label col-md-2"> Topic: </label>
		<div class="col-md-10">
			<input type="text" value="${response.result.topicName}" readonly="readonly" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-md-2"> 取消数量: </label>
		<div class="col-md-10">
			<input type="text" value="${response.result.validCancelNum}" readonly="readonly" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-md-2"> 申请明细: </label>
		<div class="col-md-10">
			<div class="card">
				<div class="card-body table-responsive p-0">
					<table class="table table-hover text-nowrap">
				<thead>
				<tr>
					<td class="center">uniqId</td>
					<td>预计投递时间</td>
					<td>状态</td>
				</tr>
				</thead>
				<tbody style="font-size: 12px;">
				<#if response.result.cancelMsgApplys?? && response.result.cancelMsgApplys?size gt 0>
				<#list response.result.cancelMsgApplys as apply>
				<tr>
					<td>${apply.uniqId!}</td>
					<td>${apply.formatTime!}</td>
					<td id="${apply.uniqId!}_status">${apply.status!}</td>
				</tr>
				</#list>
				<#else>
				<tr>
					<td>暂无数据</td>
				</tr>
			</#if>
			</tbody>
			</table>
				</div></div>
		</div>
	</div>
</#if>