<#if response.notOK>
<div class="modal-body">
	<div class="form-body">
		<div class="form-group">
			<div>异常数据</div>
		</div>
	</div>
</div>
<#else>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="form-body">
				<div class="form-group">
					<label class="control-label col-md-3"> Topic: </label>
			        <div class="col-md-6">
						<input type="text" value="${response.result.topic}" readonly="readonly" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 消费者: </label>
					<div class="col-md-6">
						<input type="text" value="${response.result.consumer}" readonly="readonly" class="form-control" >
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 消费方式: </label>
					<div class="col-md-6 checkbox">
					    <input type="radio" name="ordered" value="0" disabled="disabled" <#if response.result.consumeWay == 0>checked</#if>>集群消费
					    <input type="radio" name="ordered" value="1" disabled="disabled" <#if response.result.consumeWay == 1>checked</#if>>广播消费
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 限速: </label>
			        <div class="col-md-6">
			        	<input type="text" value="${response.result.permitsPerSecond!}" readonly="readonly" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 是否trace: </label>
					<div class="col-md-6 checkbox">
					    <input type="radio" value="0" disabled="disabled" <#if response.result.traceEnabled == 0>checked</#if>>否
					    <input type="radio" value="1" disabled="disabled" <#if response.result.traceEnabled == 1>checked</#if>>是
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 拒绝理由: </label>
					<div class="col-md-6">
						<textarea type="text" id="addConsumerRefuseReason" rows="3" class="form-control" placeholder="请填写"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" id="auditTopicFooter">
	<button type="button" data-dismiss="modal" class="btn" >取消</button>
	<button type="button" class="btn btn-warning" id="disAgreeAddConsumerBtn" onclick="disAgreeAddConsumer()">拒绝</button>
	<button type="button" class="btn btn-primary" id="agreeAddConsumerBtn" onclick="agreeAddConsumer()">同意</button>
</div>

<script>
function agreeAddConsumer(){
	disable("agreeAddConsumerBtn");
	$.post('${request.contextPath}/admin/audit/consumer/create',
		{
			aid: ${response.result.aid?c}
		},
        function(data){
            if(data.status == 200){
            	toastr.success("审核成功, 系统将自动刷新");
            	reload(3000);
		    }else{
		    	toastr.error("审核失败！"+data.message);
		    	enable("agreeAddConsumerBtn");
		    }
       }, 'json');
}
function disAgreeAddConsumer(){
	var refuseReason = $("#addConsumerRefuseReason").val();
	if(!refuseReason){
		alert("请填写拒绝理由");
		return;
	}
	disable("disAgreeAddConsumerBtn");
	$.post('${request.contextPath}/admin/audit/refuse',
		{
			aid: ${response.result.aid?c},
			refuseReason: refuseReason
		},
        function(data){
            if(data.status == 200){
            	toastr.success("拒绝成功, 系统将自动刷新");
            	reload(3000);
		    }else{
		    	toastr.error("拒绝失败！"+data.message);
		    	enable("disAgreeAddConsumerBtn");
		    }
       }, 'json');
}
</script>
</#if>