<#if response.notOK>
<div class="modal-body">
	<div class="form-group">
		<div class="text-center">异常数据</div>
	</div>
</div>
<#else>
<div class="modal-body">
	<div class="form-group row">
		<label class="col-md-3 col-form-label"> Topic: </label>
		<div class="col-md-8">
			<input type="text" value="${response.result.topic}" readonly="readonly" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-md-3 col-form-label"> 生产者: </label>
		<div class="col-md-8">
			<input type="text" value="${response.result.producer}" readonly="readonly" class="form-control" >
		</div>
	</div>
	<#if response.result.type != 21>
		<div class="form-group row">
			<label class="col-md-3 col-form-label"> 关联用户: </label>
			<div class="col-md-8">
				<input type="text" value="${response.result.user}" readonly="readonly" class="form-control" >
			</div>
		</div>
	<#else>
		<div class="form-group row">
			<label class="col-md-3"> 通信协议: </label>
			<div class="col-md-8 checkbox">
				<input type="radio" value="0" disabled="disabled" <#if response.result.protocol == 0>checked</#if>>RocketMQ
				<input type="radio" value="1" disabled="disabled" <#if response.result.protocol == 1>checked</#if>>HTTP
				<input type="radio" value="2" disabled="disabled" <#if response.result.protocol == 2>checked</#if>>Proxy Remoting
			</div>
		</div>
	</#if>
	<div class="form-group row custom">
		<label class="col-md-3 col-form-label"> 拒绝理由: </label>
		<div class="col-md-8">
			<textarea type="text" id="refuseReason" rows="3" class="form-control" placeholder="请填写"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer custom">
	<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
	<button type="button" class="btn btn-primary" id="validateBtn" onclick="validate()">校验一下</button>
	<button type="button" id="cancelBtn" class="btn btn-warning" onclick="cancelAudit()">撤销</button>
	<button type="button" class="btn btn-warning" id="refuseBtn" onclick="refuse()">拒绝</button>
	<button type="button" class="btn btn-primary" id="agreeBtn" onclick="agree()">同意</button>
</div>

<div id="producerConnectionModal" class="modal fade" style="z-index:2000;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">链接情况</h4>
				<button type="button" class="close" onclick="hideProducerConnectionModal()" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="card">
					<div class="card-body table-responsive p-0">
						<table class="table table-striped table-hover text-nowrap">
							<thead>
								<tr>
									<th>序号</th>
									<th>客户端</th>
									<th>client_id</th>
								</tr>
							</thead>
							<tbody id="connectionBody">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function validate(){
	$('#producerConnectionModal').modal('show');
	disable("validateBtn");
	$.post('${request.contextPath}/admin/audit/producer/connection',
		{
			aid: ${response.result.aid?c}
		},
        function(data){
			enable("validateBtn");
			$("#connectionBody").html(data);
       });
}
function hideProducerConnectionModal(){
	$('#producerConnectionModal').modal('hide');
}
</script>
</#if>