<#if response.notOK>
<div class="modal-body">
	<div class="form-group">
		<div class="text-center">异常数据</div>
	</div>
</div>
<#else>
<div class="modal-body">
	<div class="form-group row">
		<label class="col-md-3 col-form-label"> Topic: </label>
		<div class="col-md-9">
			<input type="text" value="${response.result.topicName}" readonly="readonly" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-md-3 col-form-label"> 取消数量: </label>
		<div class="col-md-9">
			<input type="text" value="${response.result.validCancelNum}" readonly="readonly" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-md-3 col-form-label"> 申请明细: </label>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body table-responsive p-0">
					<table class="table table-striped table-hover" style="margin-top: 0px;word-break:break-all; word-wrap:break-all;">
						<colgroup>
							<col width="40%">
							<col width="30%">
							<col width="20%">
						</colgroup>
						<thead>
						<tr>
							<td class="center">uniqId</td>
							<td>预计投递时间</td>
							<td>状态</td>
						</tr>
						</thead>
						<tbody style="font-size: 12px;">
						<#if response.result.cancelMsgApplys?? && response.result.cancelMsgApplys?size gt 0>
						<#list response.result.cancelMsgApplys as apply>
						<tr>
							<td>${apply.uniqId!}</td>
							<td>${apply.formatTime!}</td>
							<td id="${apply.uniqId!}_status">${apply.status!}</td>
						</tr>
						</#list>
						<#else>
						<tr>
							<td>暂无数据</td>
						</tr>
						</#if>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row custom">
		<label class="col-md-3 col-form-label"> 拒绝理由: </label>
		<div class="col-md-9 validate-span">
			<textarea type="text" id="refuseReason" rows="3" class="form-control" placeholder="请填写"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer custom">
	<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
	<button type="button" id="cancelBtn" class="btn btn-warning" onclick="cancelAudit()">撤销</button>
	<button type="button" class="btn btn-warning" id="refuseBtn" onclick="refuse()">拒绝</button>
	<button type="button" class="btn btn-primary" data-toggle='tooltip' title="发送取消消息" id="cancelWheelMsgBtn" onclick="cancelWheelMsg()">发送取消消息</button>
	<button type="button" class="btn btn-primary" data-toggle='tooltip' title="全部发送成功才可以同意" id="agreeBtn" onclick="agree()">同意</button>
</div>
</#if>

<script>
	/**
	 * 重发消息
	 */
	function cancelWheelMsg(){
		disable("cancelWheelMsgBtn");
		$.post('${request.contextPath}/admin/message/cancelWheelMsg',
				{
					aid: ${RequestParameters.aid}
				},
				function(data){
					enable("cancelWheelMsgBtn");
					dealCancelReturnData(data);
				}, 'json');
	}

	function dealCancelReturnData(data){
		if(data.status == 200){
			toastr.success("发送成功");
		} else if (data.status == 516) {
			toastr.error("发送失败！超时消息:"+data.result.expiredCancelMsgNum
					+" 发送失败:"+data.result.failedCancelMsgNum
					+" 发送成功:"+data.result.successCancelMsgNum
					+" 状态更新失败:"+data.result.updateDbFailedCancelMsgNum,
					"", {timeOut: 20000});
		} else {
			toastr.error("发送失败！错误信息：" + data.message);
		}
		if(!data.result.detail){
			return;
		}
		for(var i in data.result.detail){
			var msg = data.result.detail[i];
			$("#"+msg.uniqId+"_status").html(msg.statusDesc);
		}
	}
</script>