<#if response.notOK>
<div class="modal-body">
    <div class="form-group">
        <div class="text-center">异常数据</div>
    </div>
</div>
<#else>
<div class="modal-body">
    <div class="form-group row">
        <label class="col-md-4 col-form-label"> Topic: </label>
        <div class="col-md-8">
            <input type="text" value="${response.result.topic}" readonly="readonly" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label"> 消费者: </label>
        <div class="col-md-8">
            <input type="text" value="${response.result.consumer}" readonly="readonly" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-4"> 每次请求最多拉取: </label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" value="${response.result.pullSize!}" readonly="readonly"/>
                <div class="input-group-append">
                    <span class="input-group-text">条消息</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-4"> 请求拉取超时时间: </label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" value="${response.result.pullTimeoutInSeconds!}" readonly="readonly"/>
                <div class="input-group-append">
                    <span class="input-group-text">秒</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-4"> 消费超时时间: </label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" value="${response.result.consumeTimeoutInSeconds!}" readonly="readonly"/>
                <div class="input-group-append">
                    <span class="input-group-text">秒</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row custom">
        <label class="col-md-4 col-form-label"> 拒绝理由: </label>
        <div class="col-md-8">
            <textarea type="text" id="refuseReason" rows="3" class="form-control" placeholder="请填写"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer custom">
    <button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
    <button type="button" id="cancelBtn" class="btn btn-warning" onclick="cancelAudit()">撤销</button>
    <button type="button" class="btn btn-warning" id="refuseBtn" onclick="refuse()">拒绝</button>
    <button type="button" class="btn btn-primary" id="agreeBtn" onclick="agree()">同意</button>
</div>
</#if>