<#if response.notOK>
<div class="modal-body">
	<div class="form-body">
		<div class="form-group">
			<div>异常数据</div>
		</div>
	</div>
</div>
<#else>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="form-body">
				<div class="form-group">
					<label class="control-label col-md-3"> Topic: </label>
			        <div class="col-md-6">
						<input type="text" value="${response.result.topic.name}" readonly="readonly" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 当前队列: </label>
			        <div class="col-md-6">
						<input type="text" value="${response.result.topic.queueNum}" readonly="readonly" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 扩容为: </label>
			        <div class="col-md-6">
						<input type="text" value="${response.result.queueNum}" readonly="readonly" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3"> 拒绝理由: </label>
					<div class="col-md-6">
						<textarea type="text" id="updateTopicRefuseReason" rows="3" class="form-control" placeholder="请填写"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" id="auditTopicFooter">
	<button type="button" data-dismiss="modal" class="btn" >取消</button>
	<button type="button" id="cancelBtn" class="btn btn-warning" onclick="cancelAudit(${response.result.aid?c})">撤销</button>
	<button type="button" class="btn btn-warning" id="disAgreeUpdateTopicBtn" onclick="disAgreeUpdateTopic()">拒绝</button>
	<button type="button" class="btn btn-primary" id="agreeUpdateTopicBtn" onclick="agreeUpdateTopic()">同意</button>
</div>

<script>
function agreeUpdateTopic(){
	disable("agreeUpdateTopicBtn");
	$.post('${request.contextPath}/admin/audit/topic/update',
		{
			aid: ${response.result.aid?c}
		},
        function(data){
            if(data.status == 200){
            	toastr.success("审核成功, 系统将自动刷新");
            	reload(3000);
		    }else{
		    	toastr.error("审核失败！"+data.message);  
		    	enable("agreeUpdateTopicBtn");
		    }
       }, 'json');
}
function disAgreeUpdateTopic(){
	var refuseReason = $("#updateTopicRefuseReason").val();
	if(!refuseReason){
		alert("请填写拒绝理由");
		return;
	}
	disable("disAgreeUpdateTopicBtn");
	$.post('${request.contextPath}/admin/audit/refuse',
		{
			aid: ${response.result.aid?c},
			refuseReason: refuseReason
		},
        function(data){
            if(data.status == 200){
            	toastr.success("拒绝成功, 系统将自动刷新");
            	reload(3000);
		    }else{
		    	toastr.error("拒绝失败！"+data.message);  
		    	enable("disAgreeUpdateTopicBtn");
		    }
       }, 'json');
}
</script>
</#if>