<div class="row">
	<div class="col-md-4 offset-md-4">
		<div class="card card-outline card-secondary">
			<div class="card-body">
				<p class="login-box-msg">欢迎反馈</p>
				<form id="feedbackForm">
					<div class="input-group mb-3">
						<textarea type="text" id="feedbackContent" name="content" rows="8" class="form-control" placeholder="欢迎反馈任何问题，建议，bug，想法等等"></textarea>
					</div>
					<button type="submit" id="feedbackBtn" class="btn btn-primary btn-block" id="userUpdateBtn" onclick="addFeedback()">反馈</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
function addFeedback(){
	if($.trim($("#feedbackContent").val()) == ""){
		alert("请输入您的反馈！");
		return;
	}
	disable("feedbackBtn");
	$.post('${request.contextPath}/feedback/add',
		$("#feedbackForm").serialize(),
       	function(data){
           if(data.status == 200){
				toastr.success("我们已经收到您的反馈，非常感谢！");
			   	enable("feedbackBtn");
           } else{
	    		enable("feedbackBtn");
	    		toastr.error("反馈失败！"+data.message);  
	   	   }
    }, 'json');
}
</script>