<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- icon -->
<link rel="icon" type="image/x-icon" href="${request.contextPath}/favicon.ico">

<!-- jquery -->
<script type="text/javascript" src="${request.contextPath}/resources/jquery/jquery-1.11.0.min.js"></script>

<!-- bootstrap -->
<link href="${request.contextPath}/resources/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="${request.contextPath}/resources/bootstrap/3.4.1/css/bootstrap-theme.min.css" rel="stylesheet"/>
<script type="text/javascript" src="${request.contextPath}/resources/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- highcharts -->
<script type="text/javascript" src="${request.contextPath}/resources/highcharts/highcharts.js"></script>

<!-- date picker -->
<script type="text/javascript" src="${request.contextPath}/resources/date-picker/WdatePicker.js"></script>

<!-- 提示工具 -->
<script type="text/javascript" src="${request.contextPath}/resources/toastr/toastr.min.js"></script>
<link href="${request.contextPath}/resources/toastr/toastr.min.css" rel="stylesheet">

<!-- 表单校验 -->
<script src="${request.contextPath}/resources/bootstrapValidator/js/bootstrapValidator.min.js"></script>

<!-- 分页工具 -->
<script src="${request.contextPath}/resources/bootstrap-paginator/bootstrap-paginator.min.js"></script>

<!-- 选择搜索工具 -->
<script src="${request.contextPath}/resources/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="${request.contextPath}/resources/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
<link href="${request.contextPath}/resources/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">

<!-- loading插件 -->
<script src="${request.contextPath}/resources/spin/spin.min.js"></script>
<link href="${request.contextPath}/resources/spin/spin.css" rel="stylesheet">

<!-- common css -->
<link href="${request.contextPath}/css/common.css?_t=${.now}" rel="stylesheet">

<!-- table multiselect插件 -->
<script src="${request.contextPath}/resources/multiselect/multiselect.js"></script>

<!-- jsonview插件 -->
<script src="${request.contextPath}/resources/jsonview/jquery.jsonview.js"></script>
<link href="${request.contextPath}/resources/jsonview/jquery.jsonview.css" rel="stylesheet">

<!-- echarts插件 -->
<script type="text/javascript" src="${request.contextPath}/resources/echarts/echarts.min.js"></script>

<!-- clipboard插件 -->
<script type="text/javascript" src="${request.contextPath}/resources/clipboard/clipboard.js"></script>
<!-- js -->
<script>
	var contextPath = "${request.contextPath}";
</script>
<script type="text/javascript" src="${request.contextPath}/js/common.js?_t=${.now}"></script>
<script type="text/javascript" src="${request.contextPath}/js/lineChart.js?_t=${.now}"></script>