<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li id="audit"><a class="glyphicon glyphicon-pencil" href="${request.contextPath}/admin/audit/list"> 流程审核</a></li>
      <li id="nameserver"><a class="glyphicon glyphicon-link" href="${request.contextPath}/admin/nameserver/list"> 集群发现</span></a></li>
      <li id="cluster"><a class="glyphicon glyphicon-cloud" href="${request.contextPath}/admin/cluster/list"> 集群管理</span></a></li>
      <li id="topology"><a class="glyphicon glyphicon-globe" href="${request.contextPath}/admin/topology/cluster"> 集群拓扑</span></a></li>
      <li id="monitor"><a href="${request.contextPath}/admin/monitor/consumer" class="glyphicon glyphicon-eye-open"> 监控管理</a></li>
      <li id="trafficWarn"><a href="${request.contextPath}/admin/trafficMonitor/topic" class="glyphicon glyphicon-warning-sign"> 流量监控</a></li>
      <li id="user"><a href="${request.contextPath}/admin/user/list" class="glyphicon glyphicon-user"> 用户管理</a></li>
      <li id="server"><a href="${request.contextPath}/admin/server/list" class="glyphicon glyphicon-wrench"> 机器管理</a></li>
      <li id="notice"><a href="${request.contextPath}/admin/notice/list" class="glyphicon glyphicon-bell"> 通知管理</a></li>
      <li id="client"><a href="${request.contextPath}/admin/client/list" class="glyphicon glyphicon-bookmark"> 客户端版本</a></li>
      <li id="feedback"><a href="${request.contextPath}/admin/feedback/list" class="glyphicon glyphicon-comment"> 用户反馈</a></li>
      <li id="brokerConfigTemplate"><a href="${request.contextPath}/admin/broker/config" class="glyphicon glyphicon-cog"> 配置模板</a></li>
      <li id="config"><a href="${request.contextPath}/admin/config/list" class="glyphicon glyphicon-cog"> 通用配置</a></li>
    </ul>
  </div>
</div>
<script type="text/javascript">
	$(function(){
		var uri = window.location.pathname;
		if(uri.indexOf("/admin/cluster/list") != -1){
			$("#cluster").addClass("active");
		} else if (uri.indexOf("/admin/audit/list") != -1){
			$("#audit").addClass("active");
		} else if (uri.indexOf("/admin/notice/list") != -1){
			$("#notice").addClass("active");
		} else if (uri.indexOf("/admin/user/list") != -1){
			$("#user").addClass("active");
		} else if (uri.indexOf("/admin/server/list") != -1){
			$("#server").addClass("active");
		} else if (uri.indexOf("/admin/monitor/consumer") != -1){
			$("#monitor").addClass("active");
		} else if (uri.indexOf("/admin/trafficMonitor/topic") != -1) {
            $("#trafficWarn").addClass("active");
        } else if (uri.indexOf("/admin/client/list") != -1){
			$("#client").addClass("active");
		} else if (uri.indexOf("/admin/feedback/list") != -1){
			$("#feedback").addClass("active");
		} else if (uri.indexOf("/admin/config/list") != -1){
			$("#config").addClass("active");
		} else if (uri.indexOf("/admin/nameserver/list") != -1){
			$("#nameserver").addClass("active");
		} else if (uri.indexOf("/admin/topology/cluster") != -1){
			$("#topology").addClass("active");
		} else if (uri.indexOf("/admin/broker/config") != -1){
			$("#brokerConfigTemplate").addClass("active");
		}
		
		// 初始化提示
		$("[data-toggle='tooltip']").tooltip({container: 'body'});
		$("[data-toggle='modal']").tooltip();
	});
</script>
