<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
	<div class="container">
		<#if view??>
			<a href="${request.contextPath}/user/topic" class="navbar-brand">
				<img src="${request.contextPath}/assets/img/logo2.png" alt="MQCloud" class="brand-image img-circle elevation-3" style="opacity: .8">
				<span class="brand-text font-weight-light">MQCloud</span>
			</a>
		</#if>

		<ul class="navbar-nav">
			<li class="nav-item" id="introLi">
				<a href="#" data-toggle="tooltip" title="帮助和服务" data-widget="pushmenu" class="nav-link"><i class="fas fa-headset"></i></a>
			</li>
		</ul>

		<!-- Right navbar links -->
		<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
			<#if sohu??>
			<li class="nav-item dropdown dropdown-hover d-none d-xl-block">
				<a id="miniApp" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link" style="margin: 0px;">
					<i class="fa-solid fa-qrcode" title="小程序" data-toggle="tooltip" data-placement="left"></i>
				</a>
				<ul aria-labelledby="miniApp" class="dropdown-menu border-0 shadow dropdown-menu-right" style="margin: 0px;">
					<li>
						<div class="text-center">
							<#if testSohu??>
								<img class="profile-user-img img-fluid" src="${request.contextPath}/assets/img/sohu/miniAppTest.png">
							<#else>
								<img class="profile-user-img img-fluid img-circle" src="${request.contextPath}/assets/img/sohu/miniApp.jpg">
							</#if>
						</div>
						<div class="text-xs text-center">扫码使用小程序版MQCloud</div>
					</li>
				</ul>
			</li>
			</#if>
			<li class="nav-item">
				<a class="nav-link" data-widget="control-sidebar" data-toggle="tooltip" title="个性化定制" data-slide="true" href="#" role="button">
					<i class="fas fa-palette"></i>
				</a>
			</li>
			<li id="operationBox" class="nav-item dropdown dropdown-hover">
				<a id="operationSubMenu" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link" style="margin: 0px;">
					<i class="fas fa-fw fa-plus" title="工单" data-toggle="tooltip"  data-placement="left"></i>
				</a>
				<ul aria-labelledby="operationSubMenu" class="dropdown-menu border-0 shadow dropdown-menu-right" style="margin: 0px;">
					<li><a href="${request.contextPath}/topic/add" class="dropdown-item"><i class="fas fa-fw fa-cloud-upload-alt"></i> 生产消息</a></li>
					<li class="dropdown-divider"></li>
					<li><a href="${request.contextPath}/producer/add<#if tid??>?tid=${tid}</#if>" class="dropdown-item"><i class="fas fa-fw fa-file-import"></i> 新建生产者</a></li>
					<li><a href="${request.contextPath}/producer/associate<#if tid??>?tid=${tid}</#if>" class="dropdown-item"><i class="fas fa-fw fa-link"></i> 关联生产者</a></li>
					<li class="dropdown-divider"></li>
					<li><a href="${request.contextPath}/consumer/add<#if tid??>?tid=${tid}</#if>" class="dropdown-item"><i class="fas fa-fw fa-cloud-download-alt"></i> 新建消费者</a></li>
					<li><a href="${request.contextPath}/consumer/associate<#if tid??>?tid=${tid}</#if>" class="dropdown-item"><i class="fas fa-fw fa-link"></i> 关联消费者</a></li>
					<li class="dropdown-divider"></li>
					<li><a href="${request.contextPath}/user/batch/associate" class="dropdown-item"><i class="fas fa-fw fa-users-cog"></i> 批量授权</a></li>
					<li class="dropdown-divider"></li>
					<li><a href="${request.contextPath}/topic/ipSearch" class="dropdown-item"><i class="fas fa-fw fa-search"></i> IP搜索</a></li>
				</ul>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link" href="${request.contextPath}/user/message/list">
					<i class="fas fa-bell" title="我的消息" data-toggle="tooltip"></i>
					<span class="badge badge-warning navbar-badge" id="msgCount"></span>
				</a>
			</li>

			<li class="nav-item dropdown dropdown-hover">
				<a id="userSubMenu" class="nav-link" data-toggle="dropdown" href="javascript:void(0)">
					<div class="circle" title="${userInfo.user.notBlankName()}" data-toggle="tooltip"  data-placement="left">${userInfo.user.capitalizeName()}</div>
				</a>
				<ul aria-labelledby="userSubMenu" class="dropdown-menu border-0 shadow dropdown-menu-right" style="margin: 0px;">
					<#if userInfo.user.type == 1 && !aosUser??>
						<li><a href="${request.contextPath}/admin/audit/list" class="dropdown-item" target="_blank"><i class="fas fa-fw fa-tachometer-alt"></i> 管理后台</a></li>
						<li><a href="javascript:void(0)" data-target="#switchUserModal" data-toggle="modal" class="dropdown-item"><i class="fas fa-fw fa-user-secret"></i> 切换身份</a></li>
						<li class="dropdown-divider"></li>
					</#if>
					<li><a href="${request.contextPath}/audit/list" onclick="loading()" class="dropdown-item"><i class="fas fa-fw fa-file-alt"></i> 我的工单</a></li>
					<li><a href="${request.contextPath}/user/update" onclick="loading()" class="dropdown-item"><i class="fas fa-fw fa-user-edit"></i> 我的资料</a></li>
					<li class="dropdown-divider"></li>
					<li><a href="${request.contextPath}/user/footprint" onclick="loading()" class="dropdown-item"><i class="fas fa-fw fa-history"></i> 历史浏览</a></li>
					<li><a href="${request.contextPath}/user/favorite" onclick="loading()" class="dropdown-item"><i class="fas fa-fw fa-heart"></i> 我的收藏</a></li>
					<li><a href="${request.contextPath}/user/warn" onclick="loading()" class="dropdown-item"><i class="fas fa-fw fa-exclamation-triangle"></i> 我的预警</a></li>
					<#if userInfo.user.password?? && userInfo.user.password != "">
					<li class="dropdown-divider"></li>
					<li><a href="${request.contextPath}/user/resetPassword" onclick="loading()" class="dropdown-item"><i class="fas fa-fw fa-unlock"></i> 密码重置</a></li>
					</#if>
					<li class="dropdown-divider"></li>
					<li><a href="${request.contextPath}/contact" class="dropdown-item"><i class="fas fa-fw fa-address-card"></i> 联系我们</a></li>
					<li><a href="${request.contextPath}/feedback/add" class="dropdown-item"><i class="fas fa-fw fa-comment-alt"></i> 我要反馈</a></li>
					<#if !aosUser??>
					<li><a href="javascript:void(0)" onclick="logout()" class="dropdown-item"><i class="fas fa-fw fa-sign-out-alt"></i> 退出登录</a></li>
					</#if>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<#include "../user/switchUser.html">