#overlay{
    position:fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    background:rgba(0,0,0,0.8);
    display:none;
    z-Index:3000;
}
.circle {
    display:inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: tomato;
    margin-top: 2px;
}
.circle:hover {
    background: #000;
    font-size: 16px;
}

.pointer,table.tr-pointer > tbody > tr {
    cursor: pointer;
}
i.pointer.fa-xs:hover {
    color: #007bff!important;
    font-size: .8em!important;
}
i.pointer:hover {
    color: #007bff!important;
}
span.pointer:hover {
    color: #007bff!important;
}
.selected{
    background-color: #d9edf7;
}
.table-striped tbody tr.selected {
    background-color: #d9edf7;
}

.text-delete{
    text-decoration: line-through;
    color: #999;
}

.highcharts-markers path[fill="red"]{
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:breathe;
    -webkit-animation-duration:500ms;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
}

@-webkit-keyframes breathe {
    0% {opacity:.2;}
    100%{opacity:1;}
}

fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver;border-radius:8px}
legend{padding:.5em;border:0;width:auto;margin-bottom:10px}

.oval {
    width: 60px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
    line-height: 24px;
}

.rect {
    width: 60px;
    height: 25px;
    border: 1px solid #000;
    text-align: center;
}
.vitual {
    width: 60px;
    height: 25px;
    border: 1px solid #000;
    text-align: center;
    border-radius:10px;
}

.diamond {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align:center;
    line-height: 30px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform:rotate(45deg);
}

.diamond span {
    transform:  rotate(-45deg);
    display: inline-block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.layout-top-nav .main-sidebar-custom .sidebar-custom {
    height: 4rem;
    padding: 0.85rem 0.5rem;
}

.list-striped .list-group-item:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02);
}

.progress {
    position: relative;
}

.progress span {
    left: 0px;
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.notice {
    color: #3c763d;
    font-weight: bold;
}

.img-wiki {
    max-width: 80%;
}

.mqloading {
    background-repeat: no-repeat;
    background-image: url(../img/loading.gif);
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}