<div class="table-responsive p-0">
<table class="table table-hover text-nowrap">
	<thead>
		<tr>
			<th>序号</th>
			<th>topic</th>
			<th>状态</th>
			<th>原因</th>
		</tr>
	</thead>
	<tbody>
		<#if response.notOK>
			<tr>
				<td colspan=4 class="text-center"><#if response.exception??>异常:${response.exception.class.name},</#if>信息:${response.message}</td>
			</tr>
		<#else>
			<#list response.result as result>
				<tr>
					<td>${result_index + 1}</td>
					<td>${result.result}</td>
					<#if result.OK>
						<td><i class="fa-solid fa-check"></i></td>
						<td>成功</td>
					<#else>
						<td><i class="fa-solid fa-xmark"></i>></td>
						<td><#if result.exception??><b>异常:</b> ${result.exception.class.name},</#if><b>提醒:</b> ${result.message!}</td>
					</#if>
				</tr>
			</#list>
		</#if>
	</tbody>
</table>
</div>