<table class="table table-striped table-hover" style="margin-top: 0px;word-break:break-all; word-wrap:break-all;">
	<colgroup>
	  <col width='50px'>
	  <col width='400px'>
	  <col width='45px'>
	  <col>
	</colgroup>
	<thead>
		<tr>
			<td>序号</td>
			<td>topic</td>
			<td>状态</td>
			<td>原因</td>
		</tr>
	</thead>
	<tbody>
		<#if response.notOK>
			<tr>
				<td colspan=4 class="text-center"><#if response.exception??>异常:${response.exception.class.name},</#if>信息:${response.message}</td>
			</tr>
		<#else>
			<#list response.result as result>
				<tr>
					<td>${result_index + 1}</td>
					<td>${result.result}</td>
					<#if result.OK>
						<td><span class="glyphicon glyphicon-ok"></span></td>
						<td>成功</td>
					<#else>
						<td><span class="glyphicon glyphicon-remove"></span></td>
						<td><#if result.exception??><b>异常:</b> ${result.exception.class.name},</#if><b>提醒:</b> ${result.message!}</td>
					</#if>
				</tr>
			</#list>
		</#if>
	</tbody>
</table>