<table class="table table-striped table-hover" style="margin-top: 0px;word-break:break-all; word-wrap:break-all;">
	<colgroup>
	  <col width='50px'>
	  <col width='200px'>
	  <col width='200px'>
	  <col width='50px'>
	  <col>
	</colgroup>
	<thead>
		<tr>
			<td>序号</td>
			<td>topic</td>
			<td>consumer</td>
			<td>状态</td>
			<td>原因</td>
		</tr>
	</thead>
	<tbody>
		<#if response.notOK>
			<tr>
				<td colspan=5 class="text-center"><if response.exception??><b>异常:</b> ${response.exception.class.name},</if><b>提醒:</b> ${response.message}</td>
			</tr>
		<#else>
			<#if response.empty>
				<td colspan=5 class="text-center">暂无数据</td>
			<#else>
				<#list response.result as topic,result>
					<tr>
						<td rowspan=${result?size}>${topic_index + 1}</td>
						<td rowspan=${result?size}>${topic}</td>
						<#list result as rst>
							<#if rst_index != 0>
								<tr>
							</#if>
							<td>${rst.result}</td>
							<#if rst.OK>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>成功</td>
							<#else>
								<td><span class="glyphicon glyphicon-remove"></span></td>
								<td><#if rst.exception??><b>异常:</b> ${rst.exception.class.name},</#if><b>提醒:</b> ${rst.message!}</td>
							</#if>
							</tr>
						</#list>
				</#list>
			</#if>
		</#if>
	</tbody>
</table>