<div class="card mt-2">
	<div class="card-body">
		<!-- 有集群 -->
		<div class="input-group">
			<label for="mqClusterSelect" class="col-form-label"> 集群: </label>
			<div class="btn-group ml-1 mr-1">
				<button type="button" class="btn btn-default" title="新建集群" data-target="#addClusterModal" data-toggle="modal"><span class="fas fa-plus"></span><span class="d-none d-lg-inline">集群</span></button>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body table-responsive p-0">
		<table class="table table-hover table-striped text-nowrap">
			<thead>
				<tr>
					<td>id</td>
					<td>集群名</td>
					<td data-toggle="tooltip" title="rocketmq 4.x及后续版本默认开启">vip通道</td>
					<td data-toggle="tooltip" title="线上集群会开启流量抓取">环境</td>
					<td>事务</td>
					<td>追踪</td>
					<td>监控和审核</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<#if response.empty>
					<tr class="text-center"><td colspan=7>暂无数据</td></tr>
				<#else>
					<#list response.result as cluster>
						<tr>
							<td>${cluster.id}</td>
							<td>${cluster.name}</td>
							<td>${cluster.enableVipChannel ? then("开启", "关闭")}</td>
							<td>${cluster.online() ? then("线上", "测试")}</td>
							<td>${cluster.enableTransaction ? then("支持", "不支持")}</td>
							<td>${cluster.enableTrace ? then("支持", "不支持")}</td>
							<td>${cluster.brokerUpdating ? then("暂停中", "执行中")}</td>
							<td>
								<#if cluster.brokerUpdating>
									<button type="button" class="btn btn-sm btn-success" title="将执行该集群的监控预警和审核" data-toggle="tooltip" onclick="updateStatus(this, '${cluster.id}', 0);">执行</button>
								<#else>
									<button type="button" class="btn btn-sm btn-danger" title="将暂停该集群的监控预警和审核" data-toggle="tooltip" onclick="updateStatus(this, '${cluster.id}', 1);">暂停</button>
								</#if>
							</td>
						</tr>
					</#list>
				</#if>
			</tbody>
		</table>
	</div>
</div>

<div id="addClusterModal" class="modal fade" tabindex="-1" data-width="400" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">新增集群记录</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>

			<form class="form-horizontal form-bordered form-row-stripped" id="addClusterForm">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-body">
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-3"> 集群id: </label>
									<div class="col-md-8">
										<input type="text" name="id" placeholder="集群id" data-toggle="modal" title="集群id将作为NameServer的一部分，使用递增的数字，自己保证唯一。" class="form-control" />
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-form-label col-md-3"> 集群名: </label>
									<div class="col-md-8">
										<input type="text" name="name" placeholder="即brokerClusterName的值" class="form-control" />
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-md-3"> 虚拟通道: </label>
									<div class="col-md-8 checkbox">
										<label data-toggle="tooltip" title="rocketmq4.x设置为开启">
										    <input type="radio" name="vipChannelEnabled" value="1" checked>开启
										</label>
										<label data-toggle="tooltip" title="rocketmq3.x需要关闭">
										    <input type="radio" name="vipChannelEnabled" value="0">关闭
										</label>
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-md-3"> 环境: </label>
									<div class="col-md-8 checkbox">
										<label data-toggle="tooltip" title="线上集群，会开启流量抓取和监控">
										    <input type="radio" name="online" value="1" checked>线上
										</label>
										<label data-toggle="tooltip" title="测试集群，不会进行流量抓取和监控">
										    <input type="radio" name="online" value="0">测试
										</label>
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-md-3"> Trace: </label>
									<div class="col-md-8 checkbox">
										<label>
									    	<input type="radio" name="traceEnabled" value="1">支持
									    </label>
									    <label>
									   		<input type="radio" name="traceEnabled" value="0" checked>不支持
									    </label>
									</div>
								</div>
								<div class="form-group row justify-content-center">
									<label class="col-md-3"> 事务: </label>
									<div class="col-md-8 checkbox">
										<label>
										    <input type="radio" name="transactionEnabled" value="1">支持
										</label>
										<label>
										    <input type="radio" name="transactionEnabled" value="0" checked>不支持
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-light" >取消</button>
					<button type="button" class="btn btn-primary" id="addClusterBtn" onclick="addCluster()">创建</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
function addCluster(){
	disable("addClusterBtn");
	$.post('${request.contextPath}/admin/cluster/add',
		$("#addClusterForm").serialize(),
        function(data){
            if(data.status == 200){
				toastr.success("集群创建成功，将自动刷新");  
				reload(3000);
		    }else{
		    	toastr.error("集群创建失败！"+data.message);
		    	enable("addClusterBtn");
		    }
        }, 'json');
}

function updateStatus(comp, id, status){
	disable(comp);
	post('${request.contextPath}/admin/cluster/update/status/', {
		id: id,
		status: status
	}, function (data) {
		if (data.status == 200) {
			toastr.success("操作成功！即将刷新页面！");
			reload(2000);
		} else {
			toastr.error("操作失败！" + data.message);
			enable(comp)
		}
	}, 'json');
}
</script>