<div class="main">
	<form class="form-inline" id="all" role="form" action="${request.contextPath}/admin/topicManager/list">
		<div class="form-group">
			<label for="cid"> 集群: </label>
			<div class="form-group">
				<select id="cid" class="selectpicker" title="搜索集群" data-live-search-placeholder="输入搜索内容" name="cid" data-live-search="true"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="gid"> 组织: </label>
			<div class="form-group">
				<select id="gid" class="selectpicker" title="搜索组织" data-live-search-placeholder="输入搜索内容" name="gid" data-live-search="true"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="uid"> 人员: </label>
			<div class="form-group">
				<select id="uid" class="selectpicker" title="搜索人员" data-live-search-placeholder="输入搜索内容" name="uid" data-live-search="true"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="nonePrducerFlows"> 当日无生产量: </label>
			<div class="form-group">
				<select id="nonePrducerFlows" class="selectpicker" title="搜索" data-live-search-placeholder="输入搜索内容" name="nonePrducerFlows" data-live-search="false">
					<option value="" selected="selected">全部</option>
					<option value=true>是</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="noneConsumers"> 是否无消费者: </label>
			<div class="form-group">
				<select id="noneConsumers" class="selectpicker" title="搜索" data-live-search-placeholder="输入搜索内容" name="noneConsumers" data-live-search="false">
					<option value="" selected="selected">全部</option>
					<option value=true>是</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="orderType"> 排序方式: </label>
			<div class="form-group">
				<select id="orderType" class="selectpicker" title="搜索" data-live-search-placeholder="输入搜索内容" name="orderType" data-live-search="false">
					<option value=1 selected="selected">按照流量倒序</option>
					<option value=2>按照名称正序</option>
					<option value=3>按照创建时间正序</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="topic"> topic: </label>
			<div class="form-group">
				<input id="topic" type="text" class="form-control" name="topic" value="" placeholder="Topic名字">
			</div>
		</div>
		<button type="submit" class="btn btn-search""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	</form>
	<hr/>
	<table class="table table-striped table-hover" style="margin-top: 0px;word-break:break-all; word-wrap:break-all;">
		<thead>
		<colgroup>
			<col width="8%">
			<col width="10%">
			<col width="20%">
			<col width="10%">
			<col width="8%">
			<col width="8%">
			<col width="15%">
			<col width="8%">
			<col>
		</colgroup>
		<tr>
			<td style="text-align:center;vertical-align:middle;">序号</td>
			<td style="text-align:center;vertical-align:middle;">集群名称</td>
			<td style="text-align:center;vertical-align:middle;">主题</td>
			<td style="text-align:center;vertical-align:middle;">主题创建时间</td>
			<td style="text-align:center;vertical-align:middle;" data-toggle="tooltip" title="当前时间前5分钟的生产量统计">生产量</td>
			<td style="text-align:center;vertical-align:middle;" data-toggle="tooltip" title="当前时间前5分钟的消费量统计">消费量</td>
			<td style="text-align:center;vertical-align:middle;">主题描述</td>
			<td style="text-align:center;vertical-align:middle;">是否确认</td>
			<td style="text-align:center;vertical-align:middle;">操作</td>
		</tr>
		</thead>
		<tbody>
		<#if listResult.empty>
		<tr>
			<td colspan=10 style="text-align:center">
				暂无数据
			</td>
		</tr>
		<#else>
		<#list listResult.result as manager>
		<tr>
			<td style="text-align:center;vertical-align:middle;">${manager.index}</td>
			<td style="text-align:center;vertical-align:middle;">${manager.topic.cluster.name!}</td>
			<td style="text-align:center;vertical-align:middle;"><a title="查看详情" href="${request.contextPath}/user/topic/${manager.topic.id}/detail">${manager.topic.name!}</a></td>
			<td style="text-align:center;vertical-align:middle;">${manager.topic.createDate?string("yyyy-MM-dd")}</td>
			<td style="text-align:center;vertical-align:middle;">${manager.lastFiveMinusProducerFlow}</td>
			<td style="text-align:center;vertical-align:middle;">${manager.lastFiveMinusConsumerFlow}</td>
			<td style="text-align:center;vertical-align:middle;">${manager.topic.info!}</td>
			<td style="text-align:center;vertical-align:middle;">
				<#if manager.topic.effective == 1>
				<span style="color: #d58512">已使用</span>
				<#else>
				<span style="color: #0f0f0f">未确认</span>
			</#if>
			</td>
			<td style="text-align:center;vertical-align:middle;">
				<button type="button" class="btn btn-sm btn-success" title="检查Topic" data-target="#topicDeleteCheck" data-toggle="modal" onclick="loadDeleteCheck('${manager.topic.name}','${manager.topic.id}','${manager.topic.effective}');"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></button>
				<button type="button" class="btn btn-sm btn-success" title="迁移Topic" data-target="#copyTopicModal" data-toggle="modal" onclick="copyTopicShow('${manager.topic.id}','${manager.topic.name}','${manager.topic.clusterId}','${manager.topic.cluster.name}');"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
			</td>
		</tr>
		</#list>
	</#if>
	</tbody>
	</table>
	<ul id="pagination" data-url="${request.contextPath}/admin/topicManager/list?${queryParams.queryStr!}" style="float:right"></ul>
	<input id="queryNode" hidden value="${queryParams.queryStr!}">
	<#include "../../inc/pagination.html">
</div>

<div id="editTopic" class="modal fade" tabindex="-1" data-width="400">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">属性修改</h4>
			</div>
			<div class="form-group">
				<form class="form-horizontal form-bordered form-row-stripped" id="consumerTypeEdit">
					<div class="form-body">
						<label class="control-label col-md-4"> 消费者消费模式: </label>
						<input type="hidden" name="editId" id="editId" class="form-control" />
						<label class="checkbox-inline" title="每条消息只能被消费者组内某个实例消费">
							<input type="radio" name="Consumertype" value="0"><span>集群消费</span></input>
						</label>
						<label class="checkbox-inline" title="每条消息将被消费者组内所有实例消费">
							<input type="radio" name="Consumertype" value="1" ><span>广播消费</span></input>
						</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					关闭
				</button>
				<button type="button" id="editAttribute" class="btn btn-primary" onclick="EditType()">
					保存
				</button>
			</div>
		</div>
	</div>
</div>

<div id="topicDeleteCheck" class="modal fade" tabindex="-1" data-width="500">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">删除校验</h4>
			</div>
			<form class="form-horizontal form-bordered form-row-stripped" id="addTopicForm">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-body">
								<div class="form-group">
									<label class="control-label col-md-4"> 当前topic名称: </label>
									<div class="col-md-7">
										<input type="hidden" name="tid" id="checkId" class="form-control" />
										<div class="form-control-static" style="border:0;border-radius:5px;background-color:rgba(241,241,241,.98);padding-left:10px">
											<span id="tName" style="word-break:break-all;text-align: center"></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-4"> 当前关联消费者数量: </label>
									<div class="col-md-7">
										<div class="form-control-static" style="border:0;border-radius:5px;background-color:rgba(241,241,241,.98);padding-left:10px">
											<span id="cn" style="word-break:break-all;text-align: center"></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-4"> 近30天生产消息量: </label>
									<div class="col-md-5">
										<div class="form-control-static" style="border:0;border-radius:5px;background-color:rgba(241,241,241,.98);padding-left:10px">
											<span id="mn" style="word-break:break-all;text-align: center"></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-4"> 近30天消费消息量: </label>
									<div class="col-md-5">
										<div class="form-control-static" style="border:0;border-radius:5px;background-color:rgba(241,241,241,.98);padding-left:10px">
											<span id="ad" style="word-break:break-all;text-align: center"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>
					<button type="button" id="excuteDefine" class="btn btn-primary" onclick="excuteDefineTopic()">
						确认使用
					</button>
					<button type="button" id="excuteDelete" class="btn btn-primary" onclick="excuteDeleteTopic()">
						去删除
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- topic迁移 -->
<div id="copyTopicModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">topic跨集群迁移</h4>
			</div>
			<div class="modal-content" style="height:500px;overflow-y:scroll;overflow-x:hidden;">
				<div class="row">
					<div class="col-md-12">
						<div class="form-body">
							<fieldset>
								<legend style="margin:0px;font-size:14px;font-weight:bold;">第一步：复制资源</legend>
								<div class="col-sm-6">
									<table class="table table-striped table-hover table-bordered" style="margin: 0px;word-break:break-all; word-wrap:break-all;">
										<thead>
										<colgroup>
											<col width="80px">
											<col>
											<col width="20px">
										</colgroup>
										</thead>
										<tbody>
										<tr>
											<td style="text-align:center;vertical-align:middle;height: 51px">源集群</td>
											<td id="copyFromCluster" style="text-align:center;vertical-align:middle;"></td>
											<td rowspan="3" style="text-align:center;vertical-align:middle;">
												<button type="button" title="在目标集群上创建同名topic及其消费者" data-toggle="tooltip" id="copyTopicBtn" class="btn btn-xs btn-success" onclick="copyTopic()">复制</button>
												<button type="button" title="删除源集群上的topic及其消费者" data-toggle="tooltip" id="deleteSourceTopicBtn" class="btn btn-xs btn-success" onclick="deleteSourceTopic()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
											</td>
										</tr>
										<tr>
											<td style="text-align:center;vertical-align:middle;">topic</td>
											<td id="copyTopicName"></td>
										</tr>
										<tr>
											<td style="text-align:center;vertical-align:middle;">消费者</td>
											<td id="copyTopicConsumer"></td>
										</tr>
										</tbody>
									</table>
								</div>
								<div class="col-sm-6">
									<table class="table table-striped table-hover table-bordered" style="margin: 0px;word-break:break-all; word-wrap:break-all;">
										<thead>
										<colgroup>
											<col width="80px">
											<col>
											<col width="20px">
										</colgroup>
										</thead>
										<tbody>
										<tr>
											<td style="text-align:center;vertical-align:middle;">目标集群</td>
											<td>
												<select id="destTopicCid" class="selectpicker" title="集群" data-live-search-placeholder="输入搜索内容" name="cid" data-live-search="true"></select>
											</td>
											<td rowspan="3" style="text-align:center;vertical-align:middle;">
												<button type="button" title="查询目标集群上的topic及其消费者" data-toggle="tooltip" id="destTopicBtn" class="btn btn-xs btn-success" onclick="topicConsumerList()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
												<button type="button" title="删除目标集群上的topic及其消费者" data-toggle="tooltip" id="deleteTopicBtn" class="btn btn-xs btn-success" onclick="deleteDestTopic()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
											</td>
										</tr>
										<tr>
											<td style="text-align:center;vertical-align:middle;">topic</td>
											<td id="destTopic"></td>
										</tr>
										<tr>
											<td style="text-align:center;vertical-align:middle;">消费者</td>
											<td id="destTopicConsumer"></td>
										</tr>
										</tbody>
									</table>
								</div>
							</fieldset>
							<fieldset>
								<legend style="margin:0px;font-size:14px;font-weight:bold;">第二步：修改路由</legend>
								<table class="table table-striped table-hover table-bordered" style="margin: 0px;word-break:break-all; word-wrap:break-all;">
									<thead>
									<colgroup>
										<col>
										<col width="100px">
									</colgroup>
									</thead>
									<tbody id="sourceResouceBody">
									</tbody>
								</table>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	$(function(){
		$('#cid').selectpicker({
			width: '130px'
		});
		initClusterList("cid");
		$('#gid').selectpicker({
			width: '130px'
		});
		initGroupList("gid");
		$('#uid').selectpicker({
			width: '220px'
		});
		initUserList("uid")
		$('#nonePrducerFlows').selectpicker({
			width: '100px'
		});
		initProducerList("nonePrducerFlows")
		$('#noneConsumers').selectpicker({
			width: '100px'
		});
		$('#orderType').selectpicker({
			width: '150px'
		});
		$('#destTopicCid').selectpicker({
			width: '200px'
		});
		initNoneConsumers("noneConsumers")
		<#if queryParams.queryStr?? && queryParams.topic??>
			$('#topic').val('${queryParams.topic}');
		</#if>
		<#if queryParams.queryStr?? && queryParams.orderType??>
			$('#orderType').selectpicker('val', '${queryParams.orderType}');
		</#if>
	});

	function initNoneConsumers(consumerStatus) {
		<#if queryParams.queryStr??  && queryParams.noneConsumers??>
				$('#' + consumerStatus).selectpicker('val', '${queryParams.noneConsumers?c}');
	</#if>
	}

	/**
	 * 初始化集群下拉列表
	 */
	function initClusterList(showCluserList){
		$.get('${request.contextPath}/admin/topicManager/getAllCluser',
				function(data){
					if(data.result.status == 200){
						var content = "";
						content += "<option value= >"+'全部'+"</option>";
						for(var i in data.result.result){
							var cluser = data.result.result[i];
							content += "<option value='"+cluser.id+"'>"+cluser.name+"</option>";
						}
						$("#"+showCluserList).html(content);
						$("#"+showCluserList).selectpicker('refresh');
						<#if queryParams.queryStr?? && queryParams.cid??>
								$('#' + showCluserList).selectpicker('val', '${queryParams.cid}');
						</#if>
					}else{
						toastr.error("数据获取失败！"+data.message);
					}
				}, 'json');
	}

	/**
	 * 初始化集群下拉列表
	 */
	function initCopyTopicClusterList(cid){
		$.get('${request.contextPath}/admin/topicManager/getAllCluser',
				function(data){
					if(data.result.status == 200){
						var content = "";
						for(var i in data.result.result){
							var cluser = data.result.result[i];
							if(cid == cluser.id){
								continue;
							}
							content += "<option value='"+cluser.id+"'>"+cluser.name+"</option>";
						}
						$("#destTopicCid").html(content);
						$("#destTopicCid").selectpicker('refresh');
					}else{
						toastr.error("数据获取失败！"+data.message);
					}
				}, 'json');
	}

	/**
	 * 初始化组织下拉列表
	 */
	function initGroupList(ShowGroupList){
		$.get('${request.contextPath}/admin/topicManager/getAllGroup',
				function(data){
					if(data.result.status == 200){
						var content = "";
						content += "<option value= >"+'全部'+"</option>";
						for(var i in data.result.result){
							var group = data.result.result[i];
							content += "<option value='"+group.id+"'>"+group.name+"</option>";
						}
						$("#"+ShowGroupList).html(content);
						$("#"+ShowGroupList).selectpicker('refresh');
						<#if queryParams.queryStr?? && queryParams.gid??>
								$('#' + ShowGroupList).selectpicker('val', '${queryParams.gid}');
					</#if>
					}else{
						toastr.error("数据获取失败！"+data.message);
					}
				}, 'json');
	}

	/**
	 * 初始化用户下拉列表
	 */
	function initUserList(userShowList){
		$.post('${request.contextPath}/user/list',
				function(data){
					if(data.status == 200){
						var content = "";
						content += "<option value= >"+'全部'+"</option>";
						for(var i in data.result){
							var user = data.result[i];
							var value = user.email.substring(0, user.email.indexOf("@"));
							if(user.name && user.name != value){
								value = user.name + "【" + value +"】";
							}
							content += "<option value='"+user.id+"'>"+value+"</option>";
						}
						$("#"+userShowList).html(content);
						$("#"+userShowList).selectpicker('refresh');
						<#if queryParams.queryStr?? && queryParams.uid??>
								$('#' + userShowList).selectpicker('val', '${queryParams.uid}');
						</#if>
					}else{
						toastr.error("数据获取失败！"+data.message);
					}
				}, 'json');
	}

	function initProducerList(producerstatus){
		<#if queryParams.queryStr??  && queryParams.nonePrducerFlows??>
				$('#' + producerstatus).selectpicker('val', '${queryParams.nonePrducerFlows?c}');
		</#if>
	}

	function initNoneConsumers(consumerStatus){
		<#if queryParams.queryStr??  && queryParams.noneConsumers??>
				$('#' + consumerStatus).selectpicker('val', '${queryParams.noneConsumers?c}');
		</#if>
	}

	function loadTopicEdit(tid){
		$("#editId").val(tid);
		$.get('${request.contextPath}/admin/topicManager/getTopicAttribute',
				{tid: tid},function (data){
					if(data.result.status == 200){
						var type = data.result.result;
						if (type != -1){
							$(":radio[name='Consumertype'][value='" + type + "']").prop("checked", "checked");
						}
					}
				}, 'json');
	}

	function EditType(){
		var id = $("#editId").val();
		var type =  $("input[name=Consumertype]:checked").val();
		$.post('${request.contextPath}/admin/topicManager/editTopicAttribute',
				{
					tid: id,
					consumeWay: type
				},
				function(data){
					if(data.result.status == 200){
						toastr.success("修改成功, 系统将自动刷新");
						reload();
					}else{
						toastr.error("修改成功！"+data.message);
						enable("nameServerDeleteBtn");
					}
				}, 'json');
	}

	function excuteDeleteTopic(){
		var tName = $("#tName").html();
		window.location.href="${request.contextPath}/user/topic?topic="+tName;
	}

	function excuteDefineTopic(){
		var id = $("#checkId").val();
		$.post('${request.contextPath}/admin/topicManager/confirmStatus',
				{
					tid: id
				},
				function(data){
					if(data.result.status == 200){
						toastr.success("确认成功, 系统将自动刷新");
						reload();
					}else{
						toastr.error("删除失败！"+data.message);
						enable("nameServerDeleteBtn");
					}
				}, 'json');
	}

	function loadDeleteCheck(name,tid,status){
		$("#tName").html(name);
		$("#checkId").val(tid);
		$.get('${request.contextPath}/admin/topicManager/getTopicStat',
				{
					tid: tid
				},
				function (data){
					var cn = data.result.result.relationConsumers;
					$("#cn").html(cn);
					var mn = data.result.result.recentMonProMsgNum;
					$("#mn").html(format(mn));
					var ad = data.result.result.recentMonConMsgNum;
					$("#ad").html(format(ad));
				}, 'json');
	}

	function format(value){
		if(value >= 100000000){
			return formatNum(value / 100000000) +'亿';
		}
		if(value >= 10000){
			return formatNum(value / 10000) +'万';
		}
		if(value >= 1000){
			return formatNum(value / 1000) +'千';
		}
		return value;
	}

	function loadParams(name,id){
		$("#topicName").html(name);
		$("#topicid").val(id);
		$('#nodeUser').selectpicker({
			width : '100%'
		});
		initUserList("nodeUser")
	}

	function copyTopicShow(tid, name, cid, clusterName) {
		producerListShow(tid,cid);
		initConsumerList(name,cid);
		initCopyTopicClusterList(cid);
		$("#copyTopicName").html(name);
		$("#copyFromCluster").html(clusterName).val(cid);
	}

	/**
	 * 初始化消费者列表
	 */
	function initConsumerList(topic) {
		$.post('${request.contextPath}/admin/topicManager/mqcloud/topic/consumer',
				{
					topic: topic
				},
				function (data) {
					if (data.status == 200) {
						var content = "<ul class='list-group'>";
						var consumerContent = "";
						for (var i in data.result) {
							var consumer = data.result[i];
							content += "<li class='list-group-item'>" + consumer.name + "</li>";

							var resource = consumer.name;
							consumerContent += "<tr>";
							consumerContent += "<td>" + resource + "</td>";
							consumerContent += "<td><button type='button' class='btn btn-xs btn-success' onClick=changeRoute('"+resource+"',0)>添加</button> <button type='button' class='btn btn-xs btn-success' onClick=changeRoute('"+resource+"',-1)><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></td>";
							consumerContent += "</tr>";
						}
						content += "</ul>";
						$("#copyTopicConsumer").html(content);
						$("#sourceResouceBody").append(consumerContent);
					}else{
						toastr.error("数据获取失败！"+data.message);
					}
				}, 'json');
	}

	/**
	 * 初始化生产者列表
	 */
	function producerListShow(tid) {
		$.post('${request.contextPath}/producer/list',
				{
					tid: tid
				},
				function (data) {
					if (data.status == 200) {
						var content = "";
						for (var i in data.result) {
							content += "<tr>";
							var resource = data.result[i].producer;
							content += "<td>" + resource + "</td>";
							content += "<td><button type='button' class='btn btn-xs btn-success' onClick=changeRoute('"+resource+"',0)>添加</button> <button type='button' class='btn btn-xs btn-success' onClick=changeRoute('"+resource+"',-1)><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></td>";
							content += "</tr>";
						}
						$("#sourceResouceBody").html(content);
					}else{
						toastr.error("数据获取失败！"+data.message);
					}
				}, 'json');
	}

	/**
	 * 查询消费者列表
	 */
	function topicConsumerList() {
		var cid = $("#destTopicCid").val();
		if (!cid) {
			alert("请选择目标集群");
			return;
		}
		var topic = $("#copyTopicName").html();
		if (!topic) {
			alert("topic为空");
			return;
		}
		$.post('${request.contextPath}/admin/topicManager/cluster/topic/consumer',
				{
					topic: topic,
					cid: cid
				},
				function (data) {
					if (data.status == 200) {
						var content = "<ul class='list-group'>";
						for (var i in data.result) {
							var consumer = data.result[i];
							content += "<li class='list-group-item'>" + consumer + "</li>";
						}
						content += "</ul>";
						$("#destTopicConsumer").html(content);
						$("#destTopic").html($("#copyTopicName").html());
					}else{
						toastr.error("数据获取失败！"+data.message);
						$("#destTopic").html("");
					}
				}, 'json');
	}

	function copyTopic(){
		var cid = $("#destTopicCid").val();
		if (!cid) {
			alert("请选择目标集群");
			return;
		}
		var topic = $("#copyTopicName").html();
		if (!topic) {
			alert("topic为空");
			return;
		}
		disable("copyTopicBtn");
		$.post('${request.contextPath}/admin/topicManager/copyTopic',
				{
					topic: topic,
					cid: cid
				},
				function(data){
					if(data.status == 200){
						toastr.success("复制成功");
						topicConsumerList();
					}else{
						toastr.error("复制失败！"+data.message);
					}
					enable("copyTopicBtn");
				}, 'json');
	}

	function deleteSourceTopic(cidComId, topicComId, consumerComId, delBtnId) {
		var cid = $("#copyFromCluster").val();
		if (!cid) {
			alert("请选择源集群");
			return;
		}
		var destCid = $("#destTopicCid").val();
		if (!destCid) {
			alert("请选择目标集群");
			return;
		}
		var topic = $("#copyTopicName").html();
		if (!topic) {
			alert("topic为空");
			return;
		}
		disable("deleteSourceTopicBtn");
		$.post('${request.contextPath}/admin/topicManager/deleteTopic',
				{
					topic: topic,
					cid: cid,
					destCid: destCid
				},
				function (data) {
					if (data.status == 200) {
						toastr.success("删除成功");
						$("#copyTopicName").html("");
						$("#copyTopicConsumer").html("");
					} else {
						toastr.error("删除失败！" + data.message);
					}
					enable("deleteSourceTopicBtn");
				}, 'json');
	}

	function deleteDestTopic() {
		var cid = $("#destTopicCid").val();
		if (!cid) {
			alert("请选择目标集群");
			return;
		}
		var topic = $("#destTopic").html();
		if (!topic) {
			alert("请先查询topic");
			return;
		}
		disable("deleteTopicBtn");
		$.post('${request.contextPath}/admin/topicManager/deleteTopic',
				{
					topic: topic,
					cid: cid
				},
				function (data) {
					if (data.status == 200) {
						toastr.success("删除成功");
						$("#destTopic").html("");
						$("#destTopicConsumer").html("");
					} else {
						toastr.error("删除失败！" + data.message);
					}
					enable("deleteTopicBtn");
				}, 'json');
	}

	function changeRoute(resource, cid) {
		if (cid == 0) {
			var cid = $("#destTopicCid").val();
			if (!cid) {
				alert("请选择目标集群");
				return;
			}
		}
		$.post('${request.contextPath}/admin/topicManager/change/route',
				{
					resource: resource,
					cid: cid
				},
				function (data) {
					if (data.status == 200) {
						toastr.success("操作成功");
					} else {
						toastr.error("操作失败！" + data.message);
					}
				}, 'json');
	}
</script>

